
.main-section{
    border: 1px solid #7e7e7e;
    margin: 20px auto;
  }
  .left-sidebar{  
    padding: 0px;
  }
  .search-section{
      padding: 10px;
  }
  .search-section .form-control:hover, .search-section .form-control:focus{ outline: 0px; }
  .search-section .form-control{ 
    border: 1px solid #d1d1d1;
    width: 100%; 
    height: 30px; 
    padding-left: 30px;
  }
  .search-section .search-icn{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
  }
  .search-section .treaBtn{
      height: 30px;
      line-height: 30px;
      color: #FFFFFF;
      border-radius: 0px;
  }
  .left-chat{
    overflow-y:auto;
    padding: 10px;
  }
  
  .left-chat ul{
    overflow: hidden;
    padding: 0px;
    margin-bottom: 30px;
  }
  .left-chat ul li{
    list-style: none;
    width:100%;
    float: left;
    padding: 5px;
    margin:5px 0px 0px 15px;
  }
  .right-sidebar{
    border-left:2px solid #d1d1d1;
  }
  .right-header{
    border-bottom:2px solid #d1d1d1;
    margin:0px;
    padding: 0px;
  }
  .right-header{
    padding: 0px 20px;
    height: 50px;
    line-height: 50px;
  }
  .rightside-left-chat,.rightside-right-chat{
    float:left;
    width:80%;
    position: relative;
    word-break: break-word;
  }
  .rightside-right-chat{
    float:right;
    margin-right:35px;
    word-break: break-word;
  }
  .right-header-contentChat{
    overflow-y: scroll; 
    background-color: #FFFFFF;
    position: relative;
  }
  .right-header-contentChat ul li{
    list-style: none;
    margin-top:20px;  
  }
  .right-header-contentChat .rightside-left-chat p,.right-header-contentChat .rightside-right-chat p{
    background-color: #f6f6f6;
    padding:10px;
    border-radius:0px;
    color:#505050;
    margin-bottom: 10px;
  }
  .right-header-contentChat .rightside-right-chat p{
    background-color: #ffcb36;
  }
  .right-chat-textbox{
    /* padding: 15px 30px; */
    width: 100%;
    border-top:2px solid #d1d1d1;
  }
  .right-chat-textbox input{
    vertical-align:middle;
    -webkit-border-radius: 0px;
    border-radius: 0px;
   box-shadow: none;
   border: 0px solid #D1D1D1;
    font-size: inherit;
    overflow: hidden;
    padding: 1px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: 0;
    height: 40px;
    width: 100%;
  }
  .rightside-right-chat span{
    float:right;
  }
  .rightside-right-chat span small,.rightside-left-chat span small{
    color:#BDBDC2;
  }
  .member_list{
    cursor: pointer;
  }
  .member_list:hover{
    background:#00a99d ;
    color: #FFFFFF;
  }
  .unread-msg{
    background-color: #f5c961;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 5px;
  }
  @media only screen and (max-width:320px){
    .main-section{
      display: none;
    }
  }

  .sel-user-highlight{
    background-color: #00a99d;
    color: #FFFFFF;
  }