<!-- {{contactDetails | json}} -->
<div *ngIf="contactDetails">
    <h2 class=selectedTitle>{{contactDetails.name}}</h2>

    <nav class="tabbed-nav">
        <ul class="tabs-list">
            <li class="tabs">
            <button [ngClass]="clientDetails == 'details' ? 'act-option' : ''" (click)="showDetails('details')" mat-raised-button class="trea-btn">Details</button>
            </li>
            <!-- <li class="tabs">
            <button [ngClass]="clientDetails == 'workOrder' ? 'act-option' : ''" (click)="showDetails('workOrder')" mat-raised-button class="trea-btn">W/O</button>
            </li>
            <li class="tabs">
            <button [ngClass] ="clientDetails == 'documents' ? 'act-option' : ''" (click)="showDetails('documents')" mat-raised-button class="trea-btn">Documents</button>
            </li> -->
        </ul>
    </nav>

    <div class="pull-right select-btn">
        <div class="dropdown">
            <button *ngIf="util.getRole() == 2 || permissionsSet.createClients" mat-raised-button class="loc-btn dropdown-toggle edit-loc-btn" data-toggle="dropdown">Edit
            </button>
            <ul class="dropdown-menu" style="right: 0px !important;left: auto;">
                <li><a href="javascript:void(0)" class="loc-btn" (click)="editClientContact()">Edit Information</a></li>
                <li><a href="javascript:void(0)" class="loc-btn" (click)="showDeleteDialog()">Delete</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-4">
                    <div class="label-col">Client Type</div>
                </div>
                <div class="col-sm-8">
                    <div class="info-col">{{contactDetails.client_detail.client_type}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="label-col">Name</div>
                </div>
                <div class="col-sm-8">
                    <div class="info-col">{{contactDetails.client_name}}</div>
                </div>
            </div>
            <div class="row" *ngIf="contactDetails.client_detail.client_type =='Company'">
                <div class="col-sm-4">
                    <div class="label-col">Legal Name</div>
                </div>
                <div class="col-sm-8">
                    <div class="info-col">{{contactDetails.client_detail.legal_name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf = "clientDetails == 'details' && !crm.isEditFromList">
        <div class="col-md-6" >
            <div class="addContBox clearfix">
                <div *ngFor="let indx=index; let item of contactDetails.client_contact_address">
                    <h4>Address {{indx+1}}</h4>
                    <div class="sectionDetails clearfix" *ngIf="item.contact_address">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="label-col">Address Type</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col"><div *ngFor="let addrType of item.contact_address.address_type">{{addrType}} </div></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="label-col">Address </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col">{{util.concatenateStrings(item.contact_address.address_line_2,item.contact_address.address_line_1)}}</div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-4">
                                <div class="label-col">Address Line 1</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col">{{item.contact_address.address_line_1}}</div>
                            </div>
                        </div>
                        <div class="row optional">
                            <div class="col-sm-4">
                                <div class="label-col">Address Line 2</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col">{{item.contact_address.address_line_2 ? item.contact_address.address_line_2 : ''}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="label-col">Country</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col">{{item.contact_address.country_details.country_name}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="label-col">Province</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col">{{item.contact_address.province_details.province_name}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="label-col">City</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col">{{item.contact_address.city_details.city_name}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="label-col">Postal Code</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col">{{item.contact_address.postal_code}}</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" *ngIf="isEdit">
            <form autocomplete="off" [formGroup]="updateClientFm" >
                <div class="addContBox clearfix">
                    <h4>Contact</h4>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label optional">Address </label>
                        <div class="col-sm-8">
                            <div class="trea-multi-select">
                                <ss-multiselect-dropdown [options]="contactAddrList" [settings]="mulSelSettings"  [texts]="selectText" formControlName="address" (change)="contactAddressChange(indx, contact)"></ss-multiselect-dropdown>
                            </div>
                            <span class="error-msg" *ngIf="address.invalid && (address.dirty || address.touched || submitted)">
                                <small *ngIf="address.errors.required">Please Select Address.</small>
                            </span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label optional">Contact Type</label>
                        <div class="col-sm-8">
                            <input autocomplete="nope" class="form-control" placeholder="(Optional)" formControlName="contact_type" type="text">
                            <span class="error-msg" *ngIf="contact_type.invalid && (contact_type.dirty || contact_type.touched || submitted)">
                                <small *ngIf="contact_type.errors.minlength">Contact Type must be at least 2 characters long.</small>
                                <small *ngIf="contact_type.errors.maxlength">Contact Type must be less than 30 characters.</small>
                            </span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input autocomplete="nope" class="form-control" formControlName="name" placeholder="" type="text">
                            <span class="error-msg" *ngIf="name.invalid && (name.dirty || name.touched || submitted)">
                                <small *ngIf="name.errors.required">Name is required.</small>
                                <small *ngIf="name.errors.minlength">Name must be at least 2 characters long.</small>
                                <small *ngIf="name.errors.maxlength">Name must be less than 200 characters.</small>
                            </span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Phone Number</label>
                        <div class="col-sm-8">
                            <!-- <input autocomplete="nope" type="text" [textMask]="{mask: constant.PHONE_NUMBER_MASK}" formControlName="phoneNumber" class="form-control" (keypress)="util.keyPress($event)"> -->
                            <input autocomplete="nope" type="text" [textMask]="{mask: constant.PHONE_NUMBER_MASK}" id="phoneNumber" name="phoneNumber" placeholder="" formControlName="phone_no" class="form-control " (keypress)="util.keyPress($event)">
                            <span class="error-msg" *ngIf="phone_no.invalid && (phone_no.dirty || phone_no.touched || submitted)">
                                <small *ngIf="phone_no.errors.required">Phone Number is required.</small>
                                <small *ngIf="phone_no.errors.pattern">Enter Valid Phone Number.</small>
                            </span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-8">
                            <input autocomplete="nope" type="text" formControlName="email_id" class="form-control">
                            <span class="error-msg" *ngIf="email_id.invalid && (email_id.dirty || email_id.touched || submitted)">
                                <small *ngIf="email_id.errors.required">Email is required.</small>
                                <small *ngIf="email_id.errors.pattern">Enter valid email.</small>
                            </span>
                        </div>
                    </div>
                
                    <div class="errMsgCon" *ngIf="isError">
                        <small>{{errMsg}}</small>
                    </div>

                    <div class="button-row">
                        <button id="updateClient" mat-raised-button class="trea-btn" (click)="updateContact(addClientFm)">Update</button>
                        <button mat-raised-button class="trea-btn" (click)="cancelUpdateContact()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6" *ngIf="!isEdit">
            <div class="addContBox clearfix">
                <!-- *ngFor="let indx=index; let item of selectedClient.contacts" -->
                <div>
                    <h4>Contact</h4>
                    <div class="sectionDetails clearfix">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="label-col">Address</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col"><div *ngFor="let addr of contactDetails.address">{{addr}} </div></div>
                            </div>
                        </div>
                        <div class="row optional">
                            <div class="col-sm-4">
                                <div class="label-col">Contact Type</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col">{{contactDetails.contact_type ? contactDetails.contact_type : ''}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="label-col">Name</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col">{{contactDetails.name}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="label-col">Phone Number</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col">{{contactDetails.phone_no}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="label-col">Email</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="info-col email-color"><u>{{contactDetails.email_id}}</u></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf = "clientDetails == 'workOrder' && !crm.isEditFromList">
        <div class="trea-data-table table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th>
                        <div class="table-hdr">
                        <div>
                            <span>W/O Number</span>
                            <span (click)="sortList('work_order_no', 'N')">
                            <i [ngClass]=" sortColumn == 'work_order_no' ? 'fa-rotate-90' : 'fa-rotate-270' " class="fa fa-signal" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div>
                            <input autocomplete="nope" type="text" class="form-control" placeholder="" [(ngModel)]="woNumberSearch">
                        </div>
                        </div>
                    </th>
                    <th>
                        <div class="bdr-left table-hdr">
                        <div>
                            <span>Quote No</span>
                            <span (click)="sortList('project_estimate_id', 'A')">
                            <i [ngClass]=" sortColumn == 'project_estimate_id' ? 'fa-rotate-90' : 'fa-rotate-270' " class="fa fa-signal" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div>
                            <input autocomplete="nope" type="text" class="form-control" placeholder="" [(ngModel)]="quoteNoSearch">
                        </div>
                        </div>
                    </th>
                    <th>
                        <div class="bdr-left table-hdr">
                        <div>
                            <span>Date</span>
                            <span (click)="sortList('work_order_date', 'A')">
                            <i [ngClass]=" sortColumn == 'work_order_date' ? 'fa-rotate-90' : 'fa-rotate-270' " class="fa fa-signal" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div>
                            <input autocomplete="nope" type="text" class="form-control" placeholder="" [(ngModel)]="dateSearch">
                        </div>
                        </div>
                    </th>
                    <th>
                        <div class="bdr-left table-hdr">
                        <div>
                            <span>Status</span>
                            <span (click)="sortList('status', 'N')">
                            <i [ngClass]=" sortColumn == 'status' ? 'fa-rotate-90' : 'fa-rotate-270' " class="fa fa-signal" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div>
                            <input autocomplete="nope" type="text" class="form-control" placeholder="" [(ngModel)]="statusSearch">
                        </div>
                        </div>
                    </th>
                    </tr>
                </thead>
                <tbody *ngIf="!contactDetails.client_detail.work_orders.length>0">
                    <tr><td colspan="4" class="text-center">Data Not Found...</td></tr>
                </tbody>
                <tbody *ngIf="contactDetails.client_detail.work_orders.length>0">
                    <tr *ngFor="let indx=index; let item of contactDetails.client_detail.work_orders | sortBy:sortColumn:sortOrder:sortColumnType | searchfilter:woNumberSearch:'work_order_no' | searchfilter:quoteNoSearch:'project_estimate_id' | searchfilter:dateSearch:'work_order_date' | searchfilter:statusSearch:'status' | listLengthfilter | paginate: paginationKey">
                    <td>{{item.work_order_no}} <span class="dn">{{ indx == 0 ? updateCount(item.count) : ''}}</span></td>
                    <td>{{item.project_estimate_id}}</td>
                    <td>{{item.work_order_date}}</td>
                    <td>{{item.status == 1 ? 'Saved' : 'N/A'}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- contactList.length != 0 && constant.ITEM_COUNT != 0 -->
        </div>
        <div class="treaPagination" *ngIf="(contactDetails.client_detail.work_orders.length > 0) || (constant.ITEM_COUNT != 0)">
            <div class="pull-right">
                <span> {{1+(paginationKey.currentPage-1)*paginationKey.itemsPerPage}} - {{(paginationKey.itemsPerPage <= listCount) && (paginationKey.itemsPerPage+(paginationKey.currentPage-1)*paginationKey.itemsPerPage <= listCount) ? paginationKey.itemsPerPage+(paginationKey.currentPage-1)*paginationKey.itemsPerPage : listCount}}</span><span> of {{listCount}} items</span>
            </div>
            <div class="pull-right">
                <select [(ngModel)]="paginationKey.itemsPerPage" (change)="changeItemPerPage()">
                <option *ngFor="let pageNo of constant.PAGINATION_ITEMS" [ngValue]="pageNo"> {{pageNo}} </option>
                </select>
                <span> items per page</span>
            </div>
            <div class="pull-right">
                <pagination-controls
                (pageChange)="changePage($event)"
                directionLinks="true"
                autoHide="false"
                previousLabel="Pre"
                nextLabel="Next"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="manufacturDetails MT30" *ngIf = "clientDetails == 'documents' && !crm.isEditFromList">
        <div class="search-section"> 
            <div class="input-group">
            <span class="search-icn" id="basic-addon1">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input autocomplete="nope" type="text" class="form-control"  placeholder="" aria-label="" aria-describedby="basic-addon1">
            <button mat-raised-button class="client-btn" >Search</button>
            </div>
        </div>
    
        <div class="clearfix"></div>
        <div class="trea-data-table table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                <th>
                    <div class="table-hdr">
                    <div>
                        <span>Doc No.</span>
                        <!-- (click)="sortList('employee_id')" -->
                        <span >
                        <i [ngClass]=" sortColumn == 'employee_id' ? 'fa-rotate-90' : 'fa-rotate-270' " class="fa fa-signal" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div>
                    <!-- [(ngModel)]="empIdSearch" (ngModelChange)='searchEmployee(empIdSearch, "Employee ID")' -->
                        <input autocomplete="nope" type="text" class="form-control"  placeholder="" aria-label="" aria-describedby="basic-addon1">
                    </div>
                    </div>
                </th>
                
                <th>
                    <div class="bdr-left table-hdr">
                    <div>
                        <span>Doc Type</span>
                        <!-- (click)="sortList('title')" -->
                        <span >
                        <i [ngClass]=" sortColumn == 'title' ? 'fa-rotate-90' : 'fa-rotate-270' " class="fa fa-signal" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div>
                    <!-- [(ngModel)]="titleSearch" (ngModelChange)='searchEmployee(titleSearch, "Title")' -->
                        <input autocomplete="nope" type="text" class="form-control"  placeholder="" aria-label="" aria-describedby="basic-addon1">
                    </div>
                    </div>
                </th>
                <th>
                    <div class="bdr-left table-hdr">
                    <div>
                        <span>Date</span>
                        <!-- (click)="sortList('role_name')" -->
                        <span >
                        <i [ngClass]=" sortColumn == 'role_name' ? 'fa-rotate-90' : 'fa-rotate-270' " class="fa fa-signal" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div>
                    <!-- [(ngModel)]="roleSearch" (ngModelChange)='searchEmployee(roleSearch, "Role")' -->
                        <input autocomplete="nope" type="text" class="form-control"  placeholder="" aria-label="" aria-describedby="basic-addon1">
                    </div>
                    </div>
                </th>
                <th>
                    <div class="bdr-left table-hdr">
                    <div>
                        <span>Person</span>
                        <!-- (click)="sortList('role_name')" -->
                        <span >
                        <i [ngClass]=" sortColumn == 'role_name' ? 'fa-rotate-90' : 'fa-rotate-270' " class="fa fa-signal" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div>
                    <!-- [(ngModel)]="roleSearch" (ngModelChange)='searchEmployee(roleSearch, "Role")' -->
                        <input autocomplete="nope" type="text" class="form-control"  placeholder="" aria-label="" aria-describedby="basic-addon1">
                    </div>
                    </div>
                </th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let indx=index ;let emp of empList | sortBy:sortColumn:sortOrder:'A' | empIdfilter:empIdSearch | userNamefilter:nameSearch | userRolefilter:roleSearch | titlefilter:titleSearch | activefilter:activeSearch | lockfilter:lockedSearch | empfilter:searchTxt | listLengthfilter | paginate: paginationKey " (click)="getSelectedEmp(emp, indx)" [ngClass]="selectedIndex == indx ? 'sel-row-highlight' : ''" >
                <td>{{emp.employee_id}}<span style="display:none;">{{ indx == 0 ? updateCount(emp.count) : ''}}</span></td>
                <td>{{emp.first_name}} {{emp.last_name}}</td>
                <td>{{emp.title}}</td>
                <td>{{emp.role_name}}</td>
                <td>{{emp.isActive}}</td>
                </tr> -->
                <tr>
                <td>34677218191</td>
                <td>Invoice</td>
                <td>14/03/3018</td>
                <td>Bob Smith</td>
                </tr>
                <tr>
                <td>34677218191</td>
                <td>Invoice</td>
                <td>14/03/3018</td>
                <td>Bob Smith</td>
                </tr>
                <tr>
                <td>34677218191</td>
                <td>Invoice</td>
                <td>14/03/3018</td>
                <td>Bob Smith</td>
                </tr>
                <tr>
                <td>34677218191</td>
                <td>Invoice</td>
                <td>14/03/3018</td>
                <td>Bob Smith</td>
                </tr>
            </tbody>
            </table>
        </div>
    
    </div>


</div>