// colors
$primary-color: #00a99e;
$primaryColor: $primary-color; // alias


// // typography
// @import url('https://fonts.googleapis.com/css?family=Montserrat');

// $basefont-family: 'Montserrat', sans-serif;


// spacing
$base-space: 0.5rem;
$half-space: $base-space / 2;
$small-space: $base-space / 4;