
<div class="empReviewWrap">
	<h3 class="pageTitle" *ngIf="action == 'add'"> New Subcontractor Information Review</h3>
	<h3 class="pageTitle" *ngIf="action == 'edit'"> Subcontractor Information Review</h3>
	<div class="clearfix"></div>
	<div class="empReviewDeatails">
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">Service Type</div>
		</div>
		<div class="col-sm-6">
		  <div class="info-col" *ngFor="let service of subConObj.selUserServices">{{service}}</div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">First Name</div>
		</div>
		<div class="col-sm-6">
		  <div class="info-col">{{subConObj.first_name}}</div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">Userame</div>
		</div>
		<div class="col-sm-6">
		  <div class="info-col">{{subConObj.username}}</div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">Last Name</div>
		</div>
		<div class="col-sm-6">
		  <div class="info-col">{{subConObj.last_name}}</div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">Title</div>
		</div>
		<div class="col-sm-6">
		  <div class="info-col">{{subConObj.title}}</div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">Email</div>
		</div>
		<div class="col-sm-6">
		  <div class="info-col email">{{subConObj.email_id}}</div>
		</div>
      </div>
        <!-- <div class="row">
            <div class="col-sm-6">
                <div class="label-col">Address 1</div>
            </div>
            <div class="col-sm-6">
                <div class="info-col">{{subConObj.address1}}</div>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                    <div class="label-col">Address 2</div>
                </div>
                <div class="col-sm-6">
                    <div class="info-col">{{subConObj.address2}}</div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="label-col">Address </div>
                </div>
                <div class="col-sm-6">
                    <div class="info-col">{{util.concatenateStrings(subConObj.address2,subConObj.address1)}}</div>
                </div>
            </div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">Work Phone</div>
		</div>
		<div class="col-sm-6">
		  <div class="info-col">{{util.maskPhoneNumber(subConObj.work_phone)}}</div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">Personal Phone</div>
		</div>
		<div class="col-sm-6">
		  <div class="info-col"><span *ngIf="subConObj.mobile_no">{{util.maskPhoneNumber(subConObj.mobile_no)}}</span></div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">Hourly Cost</div>
		</div>
		<div class="col-sm-6">
		  	<div class="info-col">{{subConObj.wage_amount | currency: util.getCurrency() :'symbol-narrow'}}</div>
		</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="label-col">Days Off</div>
			</div>
			<div class="col-sm-6">
				<div class="info-col" *ngIf="subConObj.days_off.length>0">
					<span *ngIf="subConObj.days_off[0].sunday">Sun,</span>
					<span *ngIf="subConObj.days_off[0].monday">Mon,</span>
					<span *ngIf="subConObj.days_off[0].tuesday">Tue,</span>
					<span *ngIf="subConObj.days_off[0].wednesday">Wed,</span>
					<span *ngIf="subConObj.days_off[0].thursday">Thu,</span>
					<span *ngIf="subConObj.days_off[0].friday">Fri,</span>
					<span *ngIf="subConObj.days_off[0].saturday">Sat</span>
				</div>
			</div>
		</div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">Emergency Contact</div>
		</div>
		<div class="col-sm-6">
		  <div class="info-col">{{subConObj.emergency_contact}}</div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">Emergency Number</div>
		</div>
		<div class="col-sm-6">
		  <div class="info-col"><span *ngIf="subConObj.emergency_number">{{util.maskPhoneNumber(subConObj.emergency_number)}}</span></div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="label-col">Relationship</div>
		</div>
		<div class="col-sm-6">
		  <div class="info-col">{{subConObj.relationship}}</div>
		</div>
	  </div>

	  <div class="row" *ngFor="let field of subConObj.additional_fields">
      <div class="col-sm-6">
        <div class="label-col">{{field.label}}</div>
      </div>
      <div class="col-sm-6">
        <div class="info-col">{{field.data}}</div>
      </div>
    </div>
	  <div class="clearfix"></div>
	</div>
	<div class="imageSection">
	  <h3 class="optional">Images/Documents</h3>
	  <div class="imgInfoSection">
		<div class="row MB30" *ngFor="let item of subConObj.imgDocArr">
			<div *ngIf="item.isDelete == 0">
		  <div class="col-sm-3 PadR0">
			<div class="previewImg" *ngIf="item.extension == 'jpeg'|| item.extension == 'jpg' || item.extension == 'png'">
			  <img [src]="item.imgPath" class="img-responsive" />
			</div>
			<div class="doc-preview" *ngIf="item.extension == 'pdf'">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
			</div>
		  </div>
		  <div class="col-sm-9 ">
			<div class="previewTxt">
			  <div class="txtHead clearfix">
				<div class="pull-left">
				  <div class="file-name-txt ellipsis">
					<span>{{item.fileName}}.{{item.extension}}</span>
				  </div>
				</div>
			  </div>
			  <div class="txtDesc">
				<div class="info-col">{{item.description}}</div>
			  </div>
			</div>
		  </div>
		</div>
		</div>
	  </div>
	</div>
	<div class="errMsgCon" *ngIf="isError">
	  <small>{{errMsg}}</small>
	</div>
	<div class="button-row clearfix">
	  <button mat-raised-button class="trea-btn" (click)="editSubContractor()">Edit</button>
	  <button mat-raised-button id="add-emp-btn" (click)="addSubContractor()" class="trea-btn">Submit</button>
	  <button mat-raised-button class="trea-btn" (click)="cancelSubCotractorReview()">Cancel</button>
	</div>
</div>
