.tracker-section {
    padding: 0px 20px;
}

.tracker-section .search-section {
    float: left;
}

.tracker-section .add-client {
    float: right;
}
.qty-cost{
    text-align: right;
}
.no-padding{
   padding:2px !important;
}
.tracker-section .client-btn,
.dialog .client-btn {
    background-color: #00A499;
    color: #FFFFFF;
    border-radius: 0px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

.search-section .input-group {
    border: 1px solid #CCCCCC;
}

.search-section .form-control {
    border: none;
    width: 186px;
    height: 30px;
}
// .trea-btn:hover,
// .client-btn:hover {
//     color: #505050!important;
//     background-color: #FFCB36!important;
// }
.tracker-section .filter-search {
    float: left;
}

.tracker-section .filter-label {
    line-height: 30px;
    padding: 0px 10px 0px 20px;
    font-size: 14px;
}

.tracker-section .added-filter {
    line-height: 30px;
    padding: 0px 10px;
    margin: 0px 5px;
    background-color: #F1BC4E;
    font-size: 14px;
}

.tracker-section .added-filter .fa-times {
    color: #CD5023;
    cursor: pointer;
}

.search-section .form-control:hover,
.search-section .form-control:focus,
.tracker-section .client-btn:hover,
.tracker-section .client-btn:focus {
    outline: 0px;
}

.tracker-section .fa-signal {
    cursor: pointer;
}

.trea-data-table table>thead {
    background-color: #7E7E7E;
    color: #FFFFFF;
}

.trea-data-table table>thead>tr>th {
    font-weight: 600;
    font-size: 14px;
    height: 80px;
    vertical-align: top;
    text-align: center;
}

.trea-data-table table>tbody>tr>td {
    font-size: 14px;
    padding-left: 24px;
}

.trea-data-table .bdr-left {
    border-left: 1px solid #FFFFFF;
}

.trea-data-table .table-hdr {
    height: 100%;
    padding-left: 14px;
}

.trea-data-table input {
    background-color: #7e7e7e;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 0px;
    box-shadow: none;
    color: #FFFFFF;
    margin-top: 8px;
    cursor: pointer;
}

.trea-data-table table>tbody>tr:hover {
    cursor: pointer;
    color: #505050;
    background-color: #FFCB36;
}

.trea-data-table .sel-row-highlight {
    color: #505050;
    background-color: #FFCB36;
}

.selSection {
    max-width: 1070px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.selSection .label-col {
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
}

.selSection .info-col {
    font-size: 14px;
    line-height: 25px;
}

.trackerDetails .table {
    border-bottom: 1px solid #7E7E7E;
}

.trackerDetails .table > thead > tr > th {
    border-top: 1px solid #7E7E7E;
    border-bottom: 1px solid #7E7E7E;
}

.trackerDetails .table tr td,
.paymentsDetails .table tr td {
    color: #7E7E7E;
}

.trackerDetails .table>tbody>tr>td,
.trackerDetails .table>tfoot>tr>td,
.trackerDetails .table>thead>tr>td,
.trackerDetails .table>thead>tr>th, {
    border-color: #7E7E7E;
    text-align: center;
}
.trackerDetails .table>tbody>tr>td:nth-child(2) a{
    color: #00a99d;
    text-decoration: underline;
}
.trackerDetails .table > tbody > tr > td {
    padding: 17px 0px;
}
.newPOBtnWrap .client-btn{
    width:158px;
}
.newPOBtnWrap{
    margin-bottom: 25px;
    text-align: center;
}
.sQty{
    color:#962525;
    font-weight: 500;
}
@media screen and (max-width: 767px){
.trackerDetails .table-responsive{
    border: none;
}
}

/* CSS for New Onboarding Process @Shubham : 03/06/2019 */
.tracker-section .trea-welcome
{
    margin: auto;
}
.trea-welcome {
    background: #f1f1f1;
    padding: 20px;
    width: 700px;
}
.trea-welcome h4 {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.textJustified {
    text-align: justify;
    font-size: 14px;
}