<form autocomplete="off" role="form" [formGroup]="servicesForm" class="servicesForm">


<!-- *ngIf="action == 'EDIT'" -->

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th width="50" class="closeIcon" style="width: 32px;"></th>
                    <!--  style="width: 235px;" -->
                    <th width="550">Type</th>
                    <!-- <th>Cost</th> -->
                    <th width="150">Quantity</th>
                    <!-- <th>Amount</th> -->
                    <th width="250">Details</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let service of oldWODetails.wo_services; let indx=index" >
                    <td class="closeIcon"></td>
                    <td>
                        {{service.service_definition}}
                    </td>
                    <td>
                        {{service.quantity}}
                    </td>
                    <td>
                        {{service.details}}
                    </td>
                </tr>
                <tr *ngIf="action == 'EDIT' && WOService.woType == 'Client'">
                    <td colspan="4" class="tAmtTxt" style="text-align: center;">  
                        <span class="">Total Amount {{oldWODetails.totalAmt | currency: util.getCurrency() :'symbol-narrow'}}</span>
                    </td>
                </tr> -->

                <tr *ngFor="let service of services.controls; let indx=index" [formGroup]="service">
                    <td class="closeIcon"> 
                        <!-- *ngIf="indx != 0" -->
                        <img (click)="removeService(indx, service)" src="assets/icon/close_icon.png" /> 
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="autoCompleteList">
                                <div class="searchList">
                                    <mat-form-field class="product">
                                    <input autocomplete="nope" id=service_{{indx}} matInput placeholder="" [formControl]="service.get('service_definition')" [matAutocomplete]="servicesAutoComp" (keyup)="validateService($event, service, indx)">
                                    <i *ngIf="service.get('service_definition').value!=''" (click)="util.clearAutoComplete('service_', [service.get('service_definition'), service.get('service_definition_id'), service.get('cost'), service.get('quantity'), service.get('total_amount'), service.get('details')],indx); clearService(service, service.get('total_amount').value);" class="clearAutoComplete fa fa-times-circle" aria-hidden="true"></i>
                                    <mat-autocomplete #servicesAutoComp="matAutocomplete">
                                    <mat-option *ngFor="let optionIndx=index; let item of service.get('filteredService').value | async | sortBy:'serviceDefinition':'ASC':'A'" [value]="item.serviceDefinition" (onSelectionChange)="getSelectedService(item, $event, indx)">
                                    <span>{{ item.serviceDefinition }}</span>
                                    </mat-option>
                                    </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <span class="error-msg" *ngIf="(service.get('service_definition').invalid) && (service.get('service_definition').dirty || service.get('service_definition').touched || submitted)">
                                <small *ngIf="service.get('service_definition').errors.required">Please select Service from the list.</small>
                            </span>
                        </div>
                    </td>
                    <!-- <td>
                        <div class="form-group">
                            <input autocomplete="nope" type="text" class="inputQty" formControlName="cost" (keyup)="calculateTotal($event, service, indx)">
                            <span class="error-msg" *ngIf="(service.get('cost').invalid) && (service.get('cost').dirty || service.get('cost').touched || submitted)">
                                <small *ngIf="service.get('cost').errors.required">Cost is Required.</small>
                                <small *ngIf="service.get('cost').errors.pattern">Invalid Cost.</small>
                            </span>
                        </div>
                    </td> -->
                    <td>
                        <div class="form-group">
                            <input autocomplete="nope" type="number" class="inputQty PadR0" formControlName="quantity" (change)="calculateTotal($event, service, indx)">
                            <span class="error-msg" *ngIf="(service.get('quantity').invalid) && (service.get('quantity').dirty || service.get('quantity').touched || submitted)">
                                <small *ngIf="service.get('quantity').errors.required">Quantity is Required.</small>
                                <small *ngIf="service.get('quantity').errors.pattern">Invalid Quantity.</small>
                            </span>
                        </div>
                    </td>
                    <!-- <td>
                        <div class="form-group">
                            {{service.get('total_amount').value | currency: util.getCurrency() :'symbol-narrow'}}
                        </div>
                    </td> -->
                    <td>
                        <div class="form-group">
                            <textarea class="inputDetail" rows="4" formControlName="details"></textarea>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="addIcon MB20">
            <img src="assets/icon/icon-add.png" (click)="addNewServices()"><span class="cursorPtr" (click)="addNewServices()">New Services</span>
        </div>
        <div class="label-col text-center MB20">
        </div>
    </div>


    <!-- <div *ngIf="action == 'EDIT' && services.controls.length > 0 && WOService.woType == 'Client'" class="row" style="font-weight: 700;margin-bottom: 25px;color: #dd4b39;">
        <div class="col-md-12 text-center">
            New Total Amount {{newTotalServiceAmt | currency: util.getCurrency() :'symbol-narrow'}}
        </div>
    </div> -->


        
</form>  


<pre>
    <!-- <code>{{servicesForm.value | json}}</code> -->
</pre>
