
<!-- HTML for Add New Asset -->
<div class="dialog width750" *ngIf="action == 'addNewAsset'">
    <span class="close-icon" (click)="closeDialog()">
        <img src="assets/icon/close_icon.png" />
    </span>
    <div class="dialog-hdr">
        <div>New Asset</div>
    </div>
    <div class=""></div>
</div>
<!-- End -->



<!-- HTML for Add New Asset Review -->
<div class="dialog width750" *ngIf="action == 'addNewAssetReview'">
    <span class="close-icon" (click)="closeDialog()">
        <img src="assets/icon/close_icon.png" />
    </span>
    <div class="dialog-hdr">
        <div>New Asset Information Review</div>
    </div>
    <div class=""></div>
</div>
<!-- End -->



<!-- HTML for Add New Product -->
<div class="dialog width750" *ngIf="action == 'addNewProduct'">
    <span class="close-icon" (click)="closeDialog()">
        <img src="assets/icon/close_icon.png" />
    </span>
    <div class="dialog-hdr">
        <div>New Product</div>
    </div>
    <div class=""></div>
</div>
<!-- End -->



<!-- HTML for Add New Product Review-->
<div class="dialog width750" *ngIf="action == 'addNewProductReview'">
    <span class="close-icon" (click)="closeDialog()">
        <img src="assets/icon/close_icon.png" />
    </span>
    <div class="dialog-hdr">
        <div>Product Item Information Review</div>
    </div>
    <div class=""></div>
</div>
<!-- End -->



<!-- HTML for Purchase Order List-->
<div class="dialog width750" *ngIf="action == 'purchaseOrderList'">
    <span class="close-icon" (click)="closeDialog()">
        <img src="assets/icon/close_icon.png" />
    </span>
    <div class="dialog-hdr">
        <div>Purchase Orders</div>
    </div>
    <div class=""></div>
</div>
<!-- End -->