/* Step 1 */
.forgot-pass-s1 .reset-pass-hdr{ margin: 73px 0px 24px 0px;font-size: 20px;text-align: center; font-weight:600; color: #7e7e7e; }
.forgot-pass-s1 .label-msg{ 
  margin-bottom: 29px;
  text-align: center;
  line-height: 1.3;
}
.forgot-ID-txt{ font-size: 16px;text-align: center;margin-bottom: 20px; }
.forgot-pass-s1 label{
  color: #7e7e7e; 
}
.forgot-pass-s1 .btn-wrap { 
  text-align: center;
}
.forgot-pass-s1 .lgBtn {
  width: 160px;
  padding: 10px;
  margin: 5px;
}

.forgot-pass-s1 .errMsgCon, .forgot-pass-s1 .successMsgCon{ text-align: center; }
.forgot-pass-s1 .errMsgCon small{ color: #F44336;font-size: smaller; }

.forgot-pass-s1 .successMsgCon small{ color: #00a65a;font-size: smaller; }

.forgot-pass-s1 .or{ text-align: center;margin-bottom: 20px; }

.forgot-pass-s1 .submit{ margin-left: 20px; }

.forgot-pass-s1 .pass-strength label{ text-align: left;margin-top: 6px;font-size: 14px;opacity: 0.7; }
.forgot-pass-s1 .strength-con{ width: 100%;height: 6px;margin-top: 18px;background-color: #CCC; }
.forgot-pass-s1 .strength-con .weak{ height:100%;width: 10%;background-color: #f44336 }
.forgot-pass-s1 .strength-con .avg{ height:100%;width: 30%;background-color: #ff9800 }
.forgot-pass-s1 .strength-con .good{ height:100%;width: 60%;background-color: #FFC856; }
.forgot-pass-s1 .strength-con .strong{ height:100%;width: 100%;background-color: #4caf50; }

/* Step 2 */
.pass-hint{ font-size: 12px;padding-top: 5px; }
.forgot-pass-s1 .form-ele-pass{ margin-bottom: 10px; }
.forgot-pass-s1 .pass-strength{ margin-bottom: 15px; }
.forgot-pass-s1 ul#strengthBar{ margin-left: 75px; }

.resetPassWrap{ position: relative; }
.resetPassWrap .showPassIcon{ position: absolute;top: 4px;right: 7px; }
.login-section .forgot-pass-con{ max-width: 440px; }
.login-section .forgot-pass-con-st2{ max-width: 500px; }

.setPassWrap{ text-align: center;font-size: 14px;margin-bottom: 20px;}