<div id="loadingMask" class="loader" *ngIf="util.loader">Loading...</div>
<div class="login-section">
    <div class="left">
        <div class="login-main forgot-pass-con">
            <div class="logo">
                <img src="assets/logo/trea-logo.png">
            </div>
                
            <div class="forgot-pass-s1" *ngIf="credentialType == 'Password'">
                <div class="reset-pass-hdr">Reset Password</div>
                <p class="label-msg">Please enter your User ID. Instructions to reset your password will be sent to the email address associated with this User ID.</p>
                <div class="form-con">
                    <form autocomplete="off" [formGroup]="forgotPassFm" (ngSubmit)="resetCredentialsInit(forgotPassFm)" (keydown)="keyDownFunction($event, forgotPassFm)" novalidate>
                        <div class="form-group form-ele">
                            <label class="col-sm-4 control-label" for="userEmail">User ID</label>
                            <div class="col-sm-8">
                                <input autocomplete="nope" type="text" id="userEmail" name="userEmail" placeholder="" class="form-control" (keypress)="util.noSpace($event)" formControlName='userEmail'>
                                <span class="error-msg" *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched || submitted)">
                                    <small *ngIf="userEmail.errors.required">User ID is required.</small>
                                    <small *ngIf="userEmail.errors.minlength">User ID must be at least 8 characters long.</small>
                                </span>   
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="errMsgCon" *ngIf="isError">
                            <small>{{errMsg}}</small>
                        </div>

                        <div class="btn-wrap clearfix">
                            <button type="button" class="lgBtn" routerLink="/login">Cancel</button>
                            <button type="submit" id="forgot-pass-fm-btn-s1" class="lgBtn">Send Request</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="forgot-pass-s1" *ngIf="credentialType == 'loginId'">
                <div class="reset-pass-hdr">Retrieve your User ID</div>
                <div class="form-find">
                    <p class="label-msg">Please enter your registered email address. An email will be sent with your User ID.</p>
                    <form autocomplete="off" [formGroup]="forgotPassFm" (keydown)="keyDownFunction($event, forgotPassFm)">
                        <div class="form-group form-ele email">
                            <label class="col-sm-4 control-label" for="userEmail">Email address</label>
                            <div class="col-sm-8">
                                <input autocomplete="nope" type="text" id="userEmail" name="userEmail" placeholder="" class="form-control" [(ngModel)]="emailAdd" formControlName="userEmail" (keypress)="util.noSpace($event)" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'>

                                <span class="error-msg" *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched || submitted)">
                                    <small *ngIf="userEmail.errors.required">Email address is required.</small>
                                    <small *ngIf="!userEmail.errors.required && userEmail.errors.pattern">Enter valid Email address.</small>
                                </span> 
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <!-- <div class="or">OR</div>

                        <div class="form-group form-ele">
                            <label class="col-sm-4 control-label" for="userMobile">Phone number</label>
                            <div class="col-sm-8">
                                <input autocomplete="nope" type="text" [textMask]="{mask: constant.PHONE_NUMBER_MASK}" id="userMobile" name="userMobile" placeholder="" formControlName="userMobile" class="form-control " (keypress)="util.keyPress($event)">
                                <span class="error-msg" *ngIf="userMobile.invalid && (userMobile.dirty || userMobile.touched)">
                                    <small *ngIf="userMobile.errors.minlength || userMobile.errors.maxlength">Phone No must be 10 digit long.</small>
                                    <small *ngIf="userMobile.errors.required">Phone number is required.</small>
                                    <small *ngIf="userMobile.errors.pattern">Enter valid Phone number.</small>
                                </span>  
                            </div>
                            <div class="clearfix"></div>
                        </div> -->
                        <!-- <div class="clearfix"></div> -->

                        <div class="errMsgCon" *ngIf="isError">
                            <small>{{errMsg}}</small>
                        </div>

                        <div class="btn-wrap clearfix">
                            <button type="button" class="lgBtn" routerLink="/login">Cancel</button>
                            <button id="forgot-pass-fm-btn-s2" class="lgBtn" (click)="forgotUserIdInit(forgotPassFm)">Send Request</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="forgot-pass-s1" *ngIf="credentialType == 'loginIdSuccess'">
                <!-- <div class="logo">
                    <img src="assets/logo/trea-logo.png">
                </div> -->
                <div class="reset-pass-hdr">Email Sent</div>
                <div class="forgot-ID-txt">Please check your email to get your user ID.</div>
                <div class="form-ver-con">
                    <div class="col-sm-12 btn-wrap clearfix">
                        <button class="lgBtn" routerLink="/login">Back to Login</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
          
          <div class="login-bottom-footer">
            <div>Copyright &copy; 2019 Trea365</div>
          </div>
            
        </div>
    </div>  
</div>