<div id="loadingMask" class="loader" *ngIf="util.loader">Loading...</div>
<div class="login-section">
    <div class="left">
        <div class="login-main forgot-pass-s1">
            <div class="logo">
                <img src="assets/logo/trea-logo.png">
            </div>
            <div class="reset-pass-hdr">Reset Password</div>
            <div class="form-ver-con">
                <form autocomplete="off" [formGroup]="resetCredentialsFm" (ngSubmit)="resetCredentials(resetCredentialsFm)" novalidate>

                    <div class="form-group form-ele">
                        <label class="col-sm-5 control-label" for="username">User ID</label>
                        <div class="col-sm-7">
                            <input autocomplete="nope" type="text" id="username" name="username" placeholder="" class="form-control" (keypress)="util.noSpace($event)"  formControlName='username' pattern='^\S*$'>
                            <span class="error-msg" *ngIf="username.invalid && (username.dirty || username.touched || submitted)">
                                <small *ngIf="username.errors.required">User ID is required.</small>
                                <small *ngIf="username.errors.minlength">User ID must be at least 8 characters long.</small>
                                <small *ngIf="username.errors.maxlength">User ID must be less than 30 characters.</small>
                                <small *ngIf="username.errors.pattern">Enter valid User ID.</small>
                            </span>   
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group form-ele">
                        <label class="col-sm-5 control-label" for="verificationCode">Verification Code</label>
                        <div class="col-sm-7">
                            <input autocomplete="nope" type="text" id="verificationCode" name="verificationCode" placeholder="" class="form-control" (keypress)="util.keyPress($event)" formControlName='verificationCode'>
                            <span class="error-msg" *ngIf="verificationCode.invalid && (verificationCode.dirty || verificationCode.touched || submitted)">
                                <small *ngIf="verificationCode.errors.required">Verification code is required.</small>
                                <small *ngIf="verificationCode.errors.minlength || verificationCode.errors.maxlength">Verification code must be 6 characters long.</small>
                            </span>   
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group form-ele-pass">
                        <label class="col-sm-5 control-label" for="newPassword">New Password</label>
                        <div class="col-sm-7">
                            <div class="resetPassWrap">
                                <div class="showPassIcon" (click)="hide = !hide">
                                    <div *ngIf="hide">
                                        <img src="assets/icon/hide_pass.png">
                                    </div>
                                    <div *ngIf="!hide">
                                        <img src="assets/icon/show_pass.png">
                                    </div>
                                </div>
                                <input autocomplete="nope" [type]="hide ? 'text' : 'password'" id="newPassword" [(ngModel)]="newUserPassword" name="newPassword" placeholder="" class="form-control" (keypress)="util.noSpace($event)" formControlName='newPassword'>
                                <div class="pass-hint">Min 8 characters, alphanumeric and min 1 special character.</div>
                                <span class="error-msg" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched || submitted)">
                                    <small *ngIf="newPassword.errors.required">New password is required.</small>
                                    <!-- <small *ngIf="newPassword.errors.minlength">New password must be at least 8 characters long.</small>
                                    <small *ngIf="newPassword.errors.maxlength">New password should be maximum 30 character.</small> -->
                                </span>  
                            </div>  
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    
                    <div class="form-group pass-strength">
                        <label class="col-sm-5 control-label" for="confirmPassword">Password Strength</label>
                        <div class="col-sm-7">
                            <div class="strength-con">
                                <div [ngClass]="passStrength"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                        <!-- <ng2-password-strength-bar [passwordToCheck]="newUserPassword" [barLabel]="'Password Strength:'"> </ng2-password-strength-bar> -->
                    </div>
                    <div class="clearfix"></div>
                    

                    <div class="form-group form-ele">
                        <label class="col-sm-5 control-label" for="confirmPassword">Confirm Password</label>
                        <div class="col-sm-7">
                            <div class="resetPassWrap">
                                <div class="showPassIcon" (click)="confirmhide = !confirmhide">
                                    <div *ngIf="confirmhide">
                                        <img src="assets/icon/hide_pass.png">
                                    </div>
                                    <div *ngIf="!confirmhide">
                                        <img src="assets/icon/show_pass.png">
                                    </div>
                                </div>
                                <input autocomplete="nope" [type]="confirmhide ? 'text' : 'password'" id="confirmPassword" name="confirmPassword" placeholder="" class="form-control" (keypress)="util.noSpace($event)" formControlName='confirmPassword'>
                                <span class="error-msg" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || submitted)">
                                    <small *ngIf="confirmPassword.errors.required">Confirm password is required.</small>
                                    <!-- <small *ngIf="confirmPassword.errors.minlength">Confirm password must be at least 8 characters long.</small>
                                    <small *ngIf="confirmPassword.errors.maxlength">Confirm password should be maximum 30 character.</small> -->
                                </span>   
                        </div>  
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="errMsgCon" *ngIf="isError"> 
                        <small>{{errMsg}}</small>
                    </div>

                    <div class="btn-wrap">
                        <button id="forgot-sub-fm-btn" class="lgBtn">Reset Password</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>





