<div class="inventory-section">
  <h1 class="pageTitle">Audits</h1>
  <p class="page-summary">Inventory counts compared to system quantities.</p>

  <div class="trea-welcome" *ngIf="auditList.length == 0 && auditReport.length == 0 && onBoarding">
        <h4>There are no Audits yet.</h4>
        <p class="textJustified">
            Use Audits to perform inventory counts at specified locations. (Auditors must use the Audit feature in the TREA365 Mobile App to perform the Audit.) View reports of Audits performed and settle any discrepancies to keep your inventory record up to date within the system.
        </p>
        <p class="textJustified">
            Audits will be listed here when an authorized user has created one.
        </p>
        <p class="textJustified">
            Locations must be created before an Audit can be made.
        </p>
        <div class="button-row clearfix" *ngIf="util.getRole() == 2 || permissionsSet.createAudit">
           
          <button 
            mat-raised-button
            class="trea-btn"
            type="button"
            routerLink="/inventory/audit/csa/new-audit"
          >
          Create an Audit Request
          </button>
         
        </div>
        <div class="clearfix" *ngIf="util.getRole() != 2 && !permissionsSet.createAudit">
            <p class="note">Please contact an administrator who can add Audit Request</p> 
        </div>          
    </div>
  <div class="head-row clearfix" *ngIf="auditList.length > 0 || auditReport.length > 0">
    <div class="search-section">
      <div class="input-group">
        <span class="search-icn" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <input
          autocomplete="nope"
          type="text"
          class="form-control"
          placeholder=""
          [(ngModel)]="searchList"
          (ngModelChange)="getSearchTxt(searchList)"
        />
        <button
          mat-raised-button
          class="client-btn"
          (click)="searchTxt = searchList"
        >
          Search
        </button>
      </div>
    </div>

    <div class="add-client">
      <button
        *ngIf="util.getRole() == 2 || permissionsSet.createAudit"
        mat-raised-button
        class="client-btn"
        type="button"
        routerLink="/inventory/audit/csa/new-audit"
      >
        New Audit
      </button>
    </div>
  </div>
  <div class="clearfix"></div>

  <nav class="tabbed-nav" *ngIf="auditList.length > 0 || auditReport.length > 0">
    <ul class="tabs-list">
      <li class="tabs">
        <button
          [ngClass]="auditListTab == 'audit' ? 'act-option' : ''"
          (click)="changeAuditList('audit')"
          mat-raised-button
          class="trea-btn"
          type="button"
        >
          Open Audits
        </button>
      </li>
      <li class="tabs">
        <button
          *ngIf="util.getRole() == 2 || permissionsSet.viewAuditReports"
          [ngClass]="auditListTab == 'auditReport' ? 'act-option' : ''"
          (click)="changeAuditList('auditReport')"
          mat-raised-button
          class="trea-btn"
          type="button"
        >
          Audit Reports
        </button>
      </li>
    </ul>
  </nav>
  <div class="clearfix"></div>

  <div class="trea-data-table table-responsive" *ngIf="auditListTab == 'audit' && (auditList.length > 0 || auditReport.length > 0)">
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>
            <div class="table-hdr">
              <div>
                <span>Audit No.</span>
                <span
                  (click)="
                    sortColumnType = 'N';
                    sortColumn = 'audit_no';
                    sortOrder =
                      sortColumn === 'audit_no'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'audit_no' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  [(ngModel)]="auditNoSearch"
                />
              </div>
            </div>
          </th>
          <th>
            <div class="bdr-left table-hdr">
              <div>
                <span>Status</span>
                <span
                  (click)="
                    sortColumnType = 'A';
                    sortColumn = 'status';
                    sortOrder =
                      sortColumn === 'status'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'status' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  [(ngModel)]="statusSearch"
                />
              </div>
            </div>
          </th>
          <th>
            <div class="bdr-left table-hdr">
              <div>
                <span>Created</span>
                <span
                  (click)="
                    sortColumnType = 'N';
                    sortColumn = 'created_at';
                    sortOrder =
                      sortColumn === 'created_at'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'created_at' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  [(ngModel)]="dateSearch"
                />
              </div>
            </div>
          </th>
          <th>
            <div class="bdr-left table-hdr">
              <div>
                <span>Auditor</span>
                <span
                  (click)="
                    sortColumnType = 'A';
                    sortColumn = 'auditor';
                    sortOrder =
                      sortColumn === 'auditor'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'auditor' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  [(ngModel)]="auditorSearch"
                />
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let indx = index;
            let item;
            of: auditList
              | sortBy: sortColumn:sortOrder:sortColumnType
              | searchfilter: auditNoSearch:'audit_no'
              | searchfilter: statusSearch:'status'
              | searchfilter: dateSearch:'created_at'
              | searchfilter: auditorSearch:'auditor'
              | searchfilter: searchTxt:'audit_no,status,created_at,auditor'
              | listLengthfilter
              | paginate: paginationKey
          "
          (click)="selectAudit(item, indx)"
          [ngClass]="selectedIndex == indx ? 'sel-row-highlight' : ''"
        >
          <td>
            {{ item.audit_no
            }}<span class="dn">{{
              indx == 0 ? updateCount(item.count) : ""
            }}</span>
          </td>
          <td>{{ item.status }}</td>
          <td>{{ item.created_at }}</td>
          <td>{{ item.auditor }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="trea-data-table table-responsive"
    *ngIf="auditListTab == 'auditReport'"
  >
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <div class="table-hdr">
              <div>
                <span>Closed Date</span>
                <span
                  (click)="
                    sortColumnType = 'N';
                    sortColumn = 'closed_date';
                    sortOrder =
                      sortColumn === 'closed_date'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'closed_date' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  [(ngModel)]="auditNoSearch"
                />
              </div>
            </div>
          </th>
          <th>
            <div class="bdr-left table-hdr">
              <div>
                <span>Audit No.</span>
                <span
                  (click)="
                    sortColumnType = 'A';
                    sortColumn = 'audit_no';
                    sortOrder =
                      sortColumn === 'audit_no'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'audit_no' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  [(ngModel)]="statusSearch"
                />
              </div>
            </div>
          </th>
          <th>
            <div class="bdr-left table-hdr">
              <div>
                <span>Location</span>
                <span
                  (click)="
                    sortColumnType = 'N';
                    sortColumn = 'location';
                    sortOrder =
                      sortColumn === 'location'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'location' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  [(ngModel)]="dateSearch"
                />
              </div>
            </div>
          </th>
          <th>
            <div class="bdr-left table-hdr">
              <div>
                <span>Auditor</span>
                <span
                  (click)="
                    sortColumnType = 'A';
                    sortColumn = 'auditor';
                    sortOrder =
                      sortColumn === 'auditor'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'auditor' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  [(ngModel)]="auditorSearch"
                />
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let indx = index;
            let item;
            of: auditReport
              | sortBy: sortColumn:sortOrder:sortColumnType
              | searchfilter: auditNoSearch:'closed_date'
              | searchfilter: statusSearch:'audit_no'
              | searchfilter: dateSearch:'location'
              | searchfilter: auditorSearch:'auditor'
              | searchfilter: searchTxt:'closed_date,audit_no,location,auditor'
              | listLengthfilter
              | paginate: paginationKey
          "
          (click)="selectAuditReport(item, indx)"
          [ngClass]="selectedIndex == indx ? 'sel-row-highlight' : ''"
        >
          <td>
            {{ item.closed_date
            }}<span class="dn">{{
              indx == 0 ? updateCount(item.count) : ""
            }}</span>
          </td>
          <td>{{ item.audit_no }}</td>
          <td>{{ item.location }}</td>
          <td>{{ item.auditor }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="treaPagination"
    *ngIf="auditList.length > 0 && constant.ITEM_COUNT != 0"
  >
    <div class="pull-right">
      <span>
        {{ 1 + (paginationKey.currentPage - 1) * paginationKey.itemsPerPage }} -
        {{
          paginationKey.itemsPerPage <= listCount &&
          paginationKey.itemsPerPage +
            (paginationKey.currentPage - 1) * paginationKey.itemsPerPage <=
            listCount
            ? paginationKey.itemsPerPage +
              (paginationKey.currentPage - 1) * paginationKey.itemsPerPage
            : listCount
        }}</span
      ><span> of {{ listCount }} items</span>
    </div>
    <div class="pull-right">
      <select
        [(ngModel)]="paginationKey.itemsPerPage"
        (change)="changeItemPerPage()"
      >
        <option
          *ngFor="let pageNo of constant.PAGINATION_ITEMS"
          [ngValue]="pageNo"
        >
          {{ pageNo }}
        </option>
      </select>
      <span> items per page</span>
    </div>
    <div class="pull-right">
      <pagination-controls
        id="AuditList"
        (pageChange)="changePage($event)"
        directionLinks="true"
        autoHide="false"
        previousLabel="Pre"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </div>
    <div class="clearfix"></div>
  </div>

  <div
    id="auditMark"
    class="selSection"
    *ngIf="selectedAudit && auditListTab == 'audit'"
  >
    <div class="itemDetails">
      <div class="selPart">
        <span
          >Audit {{ selectedAudit.audit_no }} ({{ selectedAudit.status }})</span
        >
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="auditorDetails clearfix">
            <div class="row">
              <div class="col-sm-5">
                <div class="label-col">Auditor</div>
              </div>
              <div class="col-sm-7">
                <div class="info-col">{{ selectedAudit.auditor }}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="label-col">Location</div>
              </div>
              <div class="col-sm-7">
                <div class="info-col">
                  {{
                    selectedAudit.audit_location_tag_detail
                      ? selectedAudit.audit_location_tag_detail.location_tag
                      : ""
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="manufacturDetails">
      <div class="head-row clearfix">
        <div class="search-section">
          <div class="input-group">
            <span class="search-icn" id="basic-addon1">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input
              autocomplete="nope"
              type="text"
              class="form-control"
              placeholder=""
              [(ngModel)]="assetSearchList"
              (ngModelChange)="getAssetSearchTxt(assetSearchList)"
            />
            <button
              mat-raised-button
              class="client-btn"
              (click)="assetSearchTxt = assetSearchList"
            >
              Search
            </button>
          </div>
        </div>
      </div>
      <div class="trea-data-table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <div class="table-hdr">
                  <div>
                    <span>Location Tag</span>
                    <span
                      (click)="
                        assetSortColumnType = 'A';
                        assetSortColumn = 'location_tag';
                        assetSortOrder =
                          assetSortColumn === 'location_tag'
                            ? assetSortOrder === 'ASC'
                              ? 'DSC'
                              : 'ASC'
                            : 'ASC'
                      "
                    >
                      <i
                        [ngClass]="
                          assetSortColumn == 'location_tag' &&
                          assetSortOrder == 'ASC'
                            ? 'fa-rotate-90'
                            : 'fa-rotate-270'
                        "
                        class="fa fa-signal"
                        aria-hidden="true"
                      ></i>
                    </span>
                  </div>
                  <div>
                    <input
                      autocomplete="nope"
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="tagSearch"
                    />
                  </div>
                </div>
              </th>
              <th>
                <div class="table-hdr bdr-left">
                  <div>
                    <span>Manufacturer</span>
                    <span
                      (click)="
                        assetSortColumnType = 'A';
                        assetSortColumn = 'manf_name';
                        assetSortOrder =
                          assetSortColumn === 'manf_name'
                            ? assetSortOrder === 'ASC'
                              ? 'DSC'
                              : 'ASC'
                            : 'ASC'
                      "
                    >
                      <i
                        [ngClass]="
                          assetSortColumn == 'manf_name' &&
                          assetSortOrder == 'ASC'
                            ? 'fa-rotate-90'
                            : 'fa-rotate-270'
                        "
                        class="fa fa-signal"
                        aria-hidden="true"
                      ></i>
                    </span>
                  </div>
                  <div>
                    <input
                      autocomplete="nope"
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="mfgSearch"
                    />
                  </div>
                </div>
              </th>
              <th>
                <div class="bdr-left table-hdr">
                  <div>
                    <span>Item Definition</span>
                    <span
                      (click)="
                        assetSortColumnType = 'A';
                        assetSortColumn = 'short_name';
                        assetSortOrder =
                          assetSortColumn === 'short_name'
                            ? assetSortOrder === 'ASC'
                              ? 'DSC'
                              : 'ASC'
                            : 'ASC'
                      "
                    >
                      <i
                        [ngClass]="
                          assetSortColumn == 'short_name' &&
                          assetSortOrder == 'ASC'
                            ? 'fa-rotate-90'
                            : 'fa-rotate-270'
                        "
                        class="fa fa-signal"
                        aria-hidden="true"
                      ></i>
                    </span>
                  </div>
                  <div>
                    <input
                      autocomplete="nope"
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="mfgPartSearch"
                    />
                  </div>
                </div>
              </th>
              <th>
                <div class="bdr-left table-hdr">
                  <div>
                    <span>Scan Code</span>
                    <span
                      (click)="
                        assetSortColumnType = 'A';
                        assetSortColumn = 'scan_code';
                        assetSortOrder =
                          assetSortColumn === 'scan_code'
                            ? assetSortOrder === 'ASC'
                              ? 'DSC'
                              : 'ASC'
                            : 'ASC'
                      "
                    >
                      <i
                        [ngClass]="
                          assetSortColumn == 'scan_code' &&
                          assetSortOrder == 'ASC'
                            ? 'fa-rotate-90'
                            : 'fa-rotate-270'
                        "
                        class="fa fa-signal"
                        aria-hidden="true"
                      ></i>
                    </span>
                  </div>
                  <div>
                    <input
                      autocomplete="nope"
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="scanCodeSearch"
                    />
                  </div>
                </div>
              </th>
              <th>
                <div class="bdr-left table-hdr">
                  <div>
                    <span>UPC</span>
                    <span
                      (click)="
                        assetSortColumnType = 'N';
                        assetSortColumn = 'upc';
                        assetSortOrder =
                          assetSortColumn === 'upc'
                            ? assetSortOrder === 'ASC'
                              ? 'DSC'
                              : 'ASC'
                            : 'ASC'
                      "
                    >
                      <i
                        [ngClass]="
                          assetSortColumn == 'upc' && assetSortOrder == 'ASC'
                            ? 'fa-rotate-90'
                            : 'fa-rotate-270'
                        "
                        class="fa fa-signal"
                        aria-hidden="true"
                      ></i>
                    </span>
                  </div>
                  <div>
                    <input
                      autocomplete="nope"
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="upcSearch"
                    />
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let indx = index;
                let item;
                of: auditLocationList
                  | sortBy: assetSortColumn:assetSortOrder:assetSortColumnType
                  | searchfilter: tagSearch:'location_tag'
                  | searchfilter: mfgSearch:'manf_name'
                  | searchfilter: mfgPartSearch:'short_name'
                  | searchfilter: scanCodeSearch:'scan_code'
                  | searchfilter: upcSearch:'upc'
                  | searchfilter
                    : assetSearchTxt
                    : 'manf_name,short_name,scan_code,upc'
                  | listLengthfilter
                  | paginate: listPaginationKey
              "
            >
              <td>{{ item.location_tag }}</td>
              <td>
                {{ item.manf_name
                }}<span class="dn">{{
                  indx == 0 ? itemListUpdateCount(item.count) : ""
                }}</span>
              </td>
              <td>{{ item.short_name }}</td>
              <td>{{ item.scan_code }}</td>
              <td>{{ item.upc }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="treaPagination"
        *ngIf="auditLocationList.length > 0 && constant.ITEM_COUNT != 0"
      >
        <div class="pull-right">
          <span>
            {{
              1 +
                (listPaginationKey.currentPage - 1) *
                  listPaginationKey.itemsPerPage
            }}
            -
            {{
              listPaginationKey.itemsPerPage <= itemListCount &&
              listPaginationKey.itemsPerPage +
                (listPaginationKey.currentPage - 1) *
                  listPaginationKey.itemsPerPage <=
                itemListCount
                ? listPaginationKey.itemsPerPage +
                  (listPaginationKey.currentPage - 1) *
                    listPaginationKey.itemsPerPage
                : itemListCount
            }}</span
          ><span> of {{ itemListCount }} items</span>
        </div>
        <div class="pull-right">
          <select [(ngModel)]="listPaginationKey.itemsPerPage">
            <option
              *ngFor="let pageNo of constant.PAGINATION_ITEMS"
              [ngValue]="pageNo"
            >
              {{ pageNo }}
            </option>
          </select>
          <span> items per page</span>
        </div>
        <div class="pull-right">
          <pagination-controls
            id="AuditItemList"
            (pageChange)="listPaginationKey.currentPage = $event"
            directionLinks="true"
            autoHide="false"
            previousLabel="Pre"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
          >
          </pagination-controls>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div
    id="auditMark"
    class="selSection"
    *ngIf="selectedReportAudit && auditListTab == 'auditReport'"
  >
    <div class="itemDetails">
      <div class="selPart">
        <span>Audit {{ selectedReportAudit.audit_no }}</span>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="auditorDetails clearfix">
            <div class="row">
              <div class="col-sm-5">
                <div class="label-col">Auditor</div>
              </div>
              <div class="col-sm-7">
                <div class="info-col">{{ selectedReportAudit.auditor }}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="label-col">Location</div>
              </div>
              <div class="col-sm-7">
                <div class="info-col">
                  {{
                    selectedReportAudit.audit_location_tag_detail
                      ? selectedReportAudit.audit_location_tag_detail
                          .location_tag
                      : ""
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form autocomplete="off" role="form" [formGroup]="auditForm">
      <div class="invoiceDetTbl">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Location Tag</th>
                <th>Manufacturer</th>
                <th>Manufacturer Part</th>
                <th>Audited Quantity</th>
                <th>Listed Quantity</th>
                <th>Discrepancies</th>
                <th>Accept Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of audited_items.controls; let indxP = index"
                [formGroup]="item"
                [ngClass]="
                  item.get('is_unlisted').value == 1 ? 'sel-row-red' : ''
                "
              >
                <!-- <td>{{selectedReportAudit.audit_location_tag_detail ? selectedReportAudit.audit_location_tag_detail.location_tag:''}}</td> -->
                <td>{{ item.get("location_tag").value }}</td>
                <td>{{ item.get("manf_name").value }}</td>
                <td>{{ item.get("manf_part_name").value }}</td>
                <td class="custom-align">
                  {{ item.get("audited_quantity").value }}
                </td>
                <td class="custom-align">
                  {{
                    item.get("is_unlisted").value != "1"
                      ? item.get("listed_quantity").value
                      : ""
                  }}
                </td>
                <td class="custom-align">
                  {{
                    item.get("discrepancies").value != "0.00"
                      ? item.get("discrepancies").value
                      : ""
                  }}
                </td>
                <td class="custom-align">
                  <input
                    autocomplete="nope"
                    type="{{
                      item.get('discrepancies').value != 0 ? 'number' : 'hidden'
                    }}"
                    class="inputQty PadR0"
                    formControlName="accept_quantity"
                  />
                  <div class="clearfix"></div>
                  <span
                    class="error-msg"
                    *ngIf="
                      item.get('accept_quantity').invalid &&
                      (item.get('accept_quantity').dirty ||
                        item.get('accept_quantity').touched ||
                        submitted ||
                        submittedPartial)
                    "
                  >
                    <small *ngIf="item.get('accept_quantity').errors.required"
                      >Quantity is required.</small
                    >
                    <small *ngIf="item.get('accept_quantity').errors.pattern"
                      >Invalid Quantity.</small
                    >
                    <small *ngIf="item.get('accept_quantity').errors.max"
                      >Not greater than Listed Quantity.</small
                    >
                    <small *ngIf="item.get('accept_quantity').errors.min"
                      >Not Less than Zero.</small
                    >
                  </span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  Items not listed for this location are displayed in red
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="commentSection">
        <div class="row">
          <div class="col-sm-6">
            <div><label>Comment</label></div>
            <div class="">
              <textarea
                class="form-control"
                formControlName="comment"
                placeholder="(optional)"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="button-row">
        <!-- routerLink="/account/csa/review-invoice" -->
        <button mat-raised-button class="trea-btn">Export Report</button>
        <button
          mat-raised-button
          class="trea-btn"
          id="accept-audit-btn"
          (click)="accept(auditForm)"
        >
          Accept Discrepancies
        </button>
      </div>
    </form>
  </div>
</div>
