<div id="loadingMask" class="loader" *ngIf="util.loader">Loading...</div>
<!-- <div class="sup-msg" *ngIf="util.userAlertData.isShow">
    <div class="alertWrap">
        <div class="alert alert-dismissible" [ngClass]="util.userAlertData.class">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close" (click)="util.removeWarningFlage()">×</a>
            <i class="fa" [ngClass]="util.userAlertData.iconClass"></i>
            {{util.userAlertData.msg}}
        </div>
    </div>
</div> -->
<div class="login-section">
    <div class="left">
        <div class="login-main forgot-pass-con">
            <div class="logo">
                <img src="assets/logo/trea-logo.png">
            </div>
                
            <div class="forgot-pass-s1">
                    <div class="reset-pass-hdr">Change Password</div>
                    <div class="form-find">
                        <div class="text-center label-msg">Please enter your new password below.</div>
                        <form autocomplete="off" [formGroup]="changePassFm" (keydown)="keyDownFunction($event, changePassFm)" novalidate>
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="new_password">New Password</label>
                                <div class="col-sm-7">
                                    <div class="resetPassWrap">
                                        <div class="showPassIcon" (click)="hide = !hide">
                                            <div *ngIf="hide">
                                                <img src="assets/icon/hide_pass.png">
                                            </div>
                                            <div *ngIf="!hide">
                                                <img src="assets/icon/show_pass.png">
                                            </div>
                                        </div>
                                        <input autocomplete="nope" [type]="hide ? 'text' : 'password'" id="new_password" name="new_password" placeholder="" class="form-control" (keypress)="util.noSpace($event)" pattern='^(?=.*[\d])(?=.*[!@#$%^&*])[\w!@#$%^&*]{8,30}$' formControlName='new_password'>
                                        <div class="pass-hint">Min 8 characters, alphanumeric and min 1 special character.</div>
                                        <span class="error-msg" *ngIf="new_password.invalid && (new_password.dirty || new_password.touched || submitted)">
                                            <small *ngIf="new_password.errors.required">New password is required.</small>
                                            <small *ngIf="new_password.errors.pattern">Invalid password.</small>
                                        </span> 
                                    </div>    
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            
                            <div class="form-group pass-strength">
                                <label class="col-sm-5 control-label" for="confirmPassword">Password Strength</label>
                                <div class="col-sm-7">
                                    <div class="strength-con">
                                        <div [ngClass]="passStrength"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            
                            <div class="form-group form-ele">
                                <label class="col-sm-5 control-label" for="confirmPassword">Confirm Password </label>
                                <div class="col-sm-7">
                                    <div class="resetPassWrap">
                                        <div class="showPassIcon" (click)="confirmhide = !confirmhide">
                                            <div *ngIf="confirmhide">
                                                <img src="assets/icon/hide_pass.png">
                                            </div>
                                            <div *ngIf="!confirmhide">
                                                <img src="assets/icon/show_pass.png">
                                            </div>
                                        </div>
                                        <input autocomplete="nope" [type]="confirmhide ? 'text' : 'password'" id="confirmPassword" name="confirmPassword" placeholder="" class="form-control"  (keypress)="util.noSpace($event)"  formControlName='confirmPassword'>
                                        <span class="error-msg" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || submitted)">
                                            <small *ngIf="confirmPassword.errors.required">Confirm password is required</small>
                                            <!-- <small *ngIf="confirmPassword.errors.minlength">Confirm Password must be at least 8 characters long.</small>
                                            <small *ngIf="confirmPassword.errors.maxlength">Confirm Password should be maximum 30 character.</small> -->
                                        </span>  
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="successMsgCon" *ngIf="isSuccess">
                                <small>{{successMsg}}</small>
                            </div>

                            <div class="errMsgCon" *ngIf="isError">
                                <small>{{errMsg}}</small>
                            </div>

                            <div class="btn-wrap">
                                <button class="lgBtn" id="login-fm-btn" (click)="submit(changePassFm)">Reset Password</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="login-bottom-footer">
                  <div>Copyright &copy; 2019 Trea365</div>
                </div>
            </div>
    </div>  
    <div class="clearfix"></div>
</div>