<div class="dialog width450" *ngIf="action == 'updateSuccess'">
    <span class="close-icon" (click)="closeDialog()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <div class="dialog-hdr">
        <div>&nbsp;</div>
    </div>
    <div>
        <div class="dialog-hdr">Your setting updated succesfully.</div>
        <div class="button-row">
            <button id="delete-record-btn" mat-raised-button class="trea-btn" (click)="closeDialog()">Done</button>
        </div>    
    </div>
</div>