.img-responsive {
    width: 300px;
}
.logo2{
    margin-top: 20px;
}

.powered {
    margin-top: 50px;
}

.data-right {
    font-weight: lighter;
}

.spec_table td {
    border-top: none !important;
}

.service_table th {
    border-top: 1px solid gray !important;
    padding: 10px;
    
}

.service_table td {
    border-top: 1px solid gray !important;
    padding: 10px;
    font-weight: lighter;
    
}

.lgbtn {

    width: 122px;
    font-size: 14px;
    padding: 8px;
    background: #3aa69b;
    border-radius: 0px;
    border: none;
    color: #fff;
    margin: 20px 10px 10px;
}

