.table-responsive{
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.payScheduleWrap{
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.commentSection{
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.align{
    text-align: left;
}
.font-pay {
    font-weight: 600;
}