.treaActionBtn{ background-color: #00A499;color: #FFFFFF;border-radius: 0px;height: 30px;line-height: 30px;text-decoration: none; }

.qutationreviewWrap .quotationreviewDetails .timeWrap{
	margin-bottom: 30px;
}
.qutationreviewWrap .subTitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}
.quotationreviewDetails .margin20 {
    margin: 20px auto;
}
.qutationreviewWrap .padL15 {
    padding-left: 15px;
}
.servicesDetails .table tr th{
	width: 157px;
}
.qutationreviewWrap .servicesDetails .table  tr th:nth-child(1) {
	width: 300px;
}
  
.qutationreviewWrap .servicesDetails .table  tr th:nth-child(5) {
	width: 500px;
}

.qutationreviewWrap .servicesDetails .table > thead > tr > th, .qutationreviewWrap .materialsDetails .table > thead > tr > th {
    border-top: 1px solid #7E7E7E;
    border-bottom: 1px solid #7E7E7E;
}
.qutationreviewWrap .servicesDetails .table>tfoot{
    border-bottom: 1px solid #7E7E7E;
    border-top: 1px solid #7E7E7E;
}
.qutationreviewWrap .servicesDetails .tfooter, .materialsDetails .tfooter{
    border-bottom: 1px solid #7E7E7E;
    text-align: center;
    border-top: 1px solid #7E7E7E;
    padding: 20px;
    font-weight: 700;
    font-size: 16px;

}
.qutationreviewWrap .servicesDetails .table  tr td, 
.qutationreviewWrap .materialsDetails .table  tr td, 
.qutationreviewWrap .scheduleDetails .table  tr td, 
.qutationreviewWrap .paymentsDetails .table  tr td{
	color:#7E7E7E;
}
.qutationreviewWrap .materialsDetails .table tr th{
	width: 157px;
}
.qutationreviewWrap .materialsDetails .table  tr th:nth-child(1) {
	width: 300px;
}  
.qutationreviewWrap .materialsDetails .table  tr th:nth-child(5) {
	width: 500px;
}
.qutationreviewWrap .scheduleDetailsnext .table  tr th:nth-child(2) {
	width: 60%;
}
.qutationreviewWrap .paymentsDetails .table > thead > tr > th {
    border-top: 1px solid #7E7E7E;
    border-bottom: 1px solid #7E7E7E;
}
.qutationreviewWrap .materialsDetails .table>tfoot{
    border-bottom: 1px solid #7E7E7E;
    border-top: 1px solid #7E7E7E;
}
.qutationreviewWrap  .totalCost{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.servicesDetails .table th, 
.servicesDetails .table td {
    border-top: 1px solid #7E7E7E;
}
.qutationreviewWrap .matPart{ 
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.qutationreviewWrap .scheduleDetails .table > thead > tr > th {
    border-top: 1px solid #7E7E7E;
    border-bottom: 1px solid #7E7E7E;
}
.qutationreviewWrap  .scheduleDetailsnext .table{
    width: 50%;
}
.qutationreviewWrap  .paymentsDetails .table > thead > tr > th {
    border-top: 1px solid #7E7E7E;
    border-bottom: 1px solid #7E7E7E;
}
.qutationreviewWrap  .inspectionDetails label{
    color:#ff0000;
}
.qutationreviewWrap  .editquoteBtnWrap{
    margin: 50px;
    text-align: center;
}  

.qutationreviewWrap  .quotationDetails .Timewrap{
    margin-bottom: 30px;
}
.qutationreviewWrap  .quotationDetails .margin20{
	margin: 20px auto;
}

.qutationreviewWrap .paymentsDetails tr th:nth-child(1) {
	width: 50%;
}
.qutationreviewWrap .table>tbody>tr>td,
.qutationreviewWrap .table>tfoot>tr>td, 
.qutationreviewWrap .table>thead>tr>td, 
.qutationreviewWrap .table>thead>tr>th {
    padding: 8px 0px;
}
.reqDescWrap .description{
    font-size: 16px;
    margin-bottom: 15px;
}
.reqDescWrap .previewImg {
    position: relative;
    border: 1px solid #D1D1D1;
    min-height: 130px;
    height: 130px;
    margin-bottom: 20px;
}
.reqDescWrap .previewImg img{
    height: 100%;
    margin: 0 auto;
}

.paymentsDetails .costCalculate .table-responsive{
    margin-top: 40px;
    margin-bottom: 20px;
}
.inspectionDetails .infoWrap{
    max-width: 550px;
}
.servicesDetails,
.materialsDetails,
.scheduleDetails,
.paymentsDetails{
    margin-bottom: 40px;
}

/* .trea-btn{
    background-color: #00A499;
    color: #FFFFFF;
    border-radius: 0px;
    height: 30px;
    line-height: 30px;
    min-width: 80px;
    padding: 0 8px;
}
.trea-btn:focus{
    outline: none;
}
.trea-btn:hover{
    color: #505050!important;
    background-color: #FFCB36!important;
} */
.act-option{ color: #505050;background-color: #FFCB36; }

.BtnWrap{
    margin: 30px auto;
}
.BtnWrap .cancel{
    margin-left: 30px;
}
