<!--New Work Order (Internal start)-->
<div class="generateQuoteWrap" (mouseover)="changeText=true">
    <div class="pageTitle"><span *ngIf="!isEdit">New</span> <span *ngIf="isEdit">Edit</span> Work Order (Internal)</div>
    <div class="container-fluid" *ngIf="!isSchedule">
        <form autocomplete="off" class="workOrderInternalForm" role="form" [formGroup]="setupForm">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="form-group clearfix">
                            <div class="checkBox">
                                <label class="col-sm-1 col-xs-1" *ngIf="!fromMaintenance">
                                    <!-- <input autocomplete="nope" type="checkbox" [(ngModel)]="filterAssetType" [ngModelOptions]="{standalone: true}" (change)="statusFilterAssets()"> -->
                                    <input autocomplete="nope" type="checkbox" [formControl]="isRepairingAsset" (change)="statusFilterAssets()">
                                    <!--  (click)="statusFilterAssets()" -->
                                    <span class="iconChk"><i class="fa fa-check"></i> </span>
                                </label>
                                <div class="col-sm-1 col-xs-1" *ngIf="fromMaintenance">
                                    &nbsp;
                                </div>
                            </div>
                            <label class="col-sm-4 col-xs-10 control-label" for="role">Repairing an asset?</label>
                            <div class="col-sm-7" *ngIf="isRepairingAsset.value">
                                <div *ngIf="fromMaintenance"><b>{{pageData.assets_detail.short_tag}}</b></div>
                                <div class="autoCompleteList" *ngIf="!fromMaintenance">
                                    <div class="searchList">
                                        <mat-form-field class="product">
                                            <input autocomplete="nope" matInput placeholder="" [formControl]="asset_name" [matAutocomplete]="AssetAutoComp" (keyup)="validateAsset($event)" id="asset_id">
                                            <i *ngIf="asset_name.value!=''" (click)="util.clearAutoComplete('asset_id', [asset_name, asset_id])" class="clearAutoComplete fa fa-times-circle" aria-hidden="true"></i>
                                            <img *ngIf="asset_name.value==''" class="selectBoxIcon" aria-hidden src="assets/icon/select.png" />
                                            <mat-autocomplete #AssetAutoComp="matAutocomplete">
                                                <mat-option *ngFor="let indx=index; let asset of filteredAssets | async | searchfilter:'Needs Maintenance':'status' | sortBy:'short_tag':'ASC':'A'" [value]="asset.short_tag" (onSelectionChange)="getSelectedAsset(asset,$event)">
                                                <span>{{ asset.short_tag }}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <span class="error-msg" *ngIf="asset_id.invalid && (asset_id.dirty || asset_id.touched || submitted)">
                                    <small *ngIf="asset_id.errors.required">Please select Asset from the list.</small>
                                </span>
                            </div>
                        </div>

                        <div *ngIf="assetsDetails && asset_name.value!=''">
                            <div class="form-group clearfix">
                                <label class="col-sm-4 col-sm-offset-1 control-label" for="role">Manufacturer</label>
                                <div class="col-sm-7">
                                    <b>{{assetsDetails.manf_detail.manf_name}}</b>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-4 col-sm-offset-1 control-label" for="role">Item Defination No.</label>
                                <div class="col-sm-7">
                                    <b>{{assetsDetails.manf_part_detail.manf_part_no}}</b>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-4 col-sm-offset-1 control-label" for="role">Short Name</label>
                                <div class="col-sm-7">
                                    <b>{{assetsDetails.manf_part_detail.short_name}}</b>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-4 col-sm-offset-1 control-label" for="role">Serial No.</label>
                                <div class="col-sm-7">
                                    <b>{{assetsDetails.serial_no}}</b>
                                </div>
                            </div>
                            <div class="form-group clearfix" *ngIf="assetsDetails.mainetenance_req">
                                <label class="col-sm-4 col-sm-offset-1 control-label" for="role">Details</label>
                                <div class="col-sm-7">
                                    <b>{{assetsDetails.mainetenance_req.maintenance_details}}</b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-4 col-sm-offset-1 control-label" for="role">Assign To</label>
                            <div class="col-sm-7">
                                <div class="autoCompleteList">
                                    <div class="searchList">
                                        <mat-form-field class="product">
                                        <input autocomplete="nope" id="assignee_id" matInput placeholder="" [formControl]="assignee" [matAutocomplete]="assigneeAutoComp" (keyup)="validateAssignee($event)">
                                        <i *ngIf="assignee.value!=''" (click)="util.clearAutoComplete('assignee_id', [assignee, assignee_id])" class="clearAutoComplete fa fa-times-circle" aria-hidden="true"></i>
                                        <img *ngIf="assignee.value==''" class="selectBoxIcon" aria-hidden src="assets/icon/select.png" />
                                        <mat-autocomplete #assigneeAutoComp="matAutocomplete">
                                        <mat-option *ngFor="let indx=index; let item of filteredAssignee | async" [value]="item.status" (onSelectionChange)="getSelectedAssignee(item,$event)">
                                        <span>{{ item.status }}</span>
                                        </mat-option>
                                        </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <span class="error-msg" *ngIf="assignee_id.invalid && (assignee_id.dirty || assignee_id.touched || submitted)">
                                    <small *ngIf="assignee_id.errors.required">Please select Assignee from the list.</small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-4 col-sm-offset-1 control-label" for="role">Main Location</label>
                            <div class="col-sm-7">
                                <div class="autoCompleteList">
                                    <div class="searchList">
                                        <mat-form-field class="product">
                                            <input autocomplete="nope" matInput placeholder="" [formControl]="location" [matAutocomplete]="locations" (keyup)="validateLoc($event)" id="location_id">
                                            <i *ngIf="location.value!=''" (click)="util.clearAutoComplete('location_id', [location, location_id,location_tag,location_tag_id])" class="clearAutoComplete fa fa-times-circle" aria-hidden="true"></i>
                                            <img *ngIf="location.value==''" class="selectBoxIcon" aria-hidden src="assets/icon/select.png" />
                                            <mat-autocomplete #locations="matAutocomplete">
                                                <mat-option *ngFor="let loc of filteredLocations | async | sortBy:'location_name':'ASC':'A'" (onSelectionChange)="getSelectedLocation($event, loc)" [value]="loc.location_name">
                                                    <span>{{ loc.location_name }}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>

                                        <div *ngIf="isMainLocationLoad" class="loaderField"><i class="fa fa-spinner fa-pulse fa-3x fa-fw action"></i></div>
                                    </div>
                                </div>
                                <span class="error-msg" *ngIf="location_id.invalid && (location_id.dirty || location_id.touched || submitted)">
                                    <small *ngIf="location_id.errors.required">Please select Location from the list.</small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-4 col-sm-offset-1 control-label" for="role">Sub Location</label>
                            <div class="col-sm-7">
                                <div class="autoCompleteList">
                                    <div class="searchList">
                                        <mat-form-field class="product">
                                            <input autocomplete="nope" matInput placeholder=""  [formControl]="location_tag" [matAutocomplete]="tags" (keyup)="validateLocTags($event)" id="location_tag_id">
                                            <i *ngIf="location_tag.value!=''" (click)="util.clearAutoComplete('location_tag_id', [location_tag, location_tag_id])" class="clearAutoComplete fa fa-times-circle" aria-hidden="true"></i>
                                            <img *ngIf="location_tag.value==''" class="selectBoxIcon" aria-hidden src="assets/icon/select.png" />
                                            <mat-autocomplete #tags="matAutocomplete">
                                                <mat-option *ngFor="let tag of filteredTags | async | sortBy:'location_tag':'ASC':'A'" (onSelectionChange)="getSelectedTag($event, tag)" [value]="tag.location_tag">
                                                    <span>{{ tag.location_tag }}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>

                                        <div *ngIf="isSubLocationLoad" class="loaderField"><i class="fa fa-spinner fa-pulse fa-3x fa-fw action"></i></div>
                                    </div>
                                </div>
                                <span class="error-msg" *ngIf="location_tag_id.invalid && (location_tag_id.dirty || location_tag_id.touched || submitted)">
                                    <small *ngIf="location_tag_id.errors.required">Please select Sub Location from the list.</small>
                                </span>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            <div class="button-row">
                <button class="trea-btn" (click)="next(setupForm)">Next</button>
                <button class="trea-btn" routerLink="/workflow/wo/csa/work-order-list/0">Cancel</button>
            </div>
        </form>
    </div>
</div>
<!--New Work Order (Internal end)-->






<div class="WOSetupSection" *ngIf="isSchedule">
    <form autocomplete="off" role="form" [formGroup]="scheduleForm">
        <div class="woinfo">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="label-col">Date</div>
                        </div>
                        <div class="col-sm-7">
                            <div class="info-col">{{util.getFormatedDate(today)}}</div>
                        </div>
                        <div class="col-sm-5">
                            <div class="label-col">Generated by</div>
                        </div>
                        <div class="col-sm-7">
                            <div class="info-col">{{userInfo.first_name}}</div>
                        </div>
                        <div class="col-sm-5">
                            <div class="label-col">Assigned to</div>
                        </div>
                        <div class="col-sm-7">
                            <div class="info-col">{{WOInfo.assignee}}</div>
                        </div>
                        <div *ngIf="WOInfo.assignee_id == '2'">
                            <div class="col-sm-5">
                                <div class="label-col">Contractor</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="autoCompleteList">
                                    <div class="searchList">
                                        <mat-form-field class="product">
                                            <input autocomplete="nope" matInput placeholder=""  [formControl]="supplier_name" [matAutocomplete]="empAutoComp" (keyup)="validateEmployee($event)" id="supplier_id">
                                            <i *ngIf="supplier_name.value!=''" (click)="util.clearAutoComplete('supplier_id', [supplier_name, supplier_id,location_tag,location_tag_id])" class="clearAutoComplete fa fa-times-circle" aria-hidden="true"></i>
                                            <img *ngIf="supplier_name.value==''" class="selectBoxIcon" aria-hidden src="assets/icon/select.png" />
                                            <mat-autocomplete #empAutoComp="matAutocomplete">
                                                <mat-option *ngFor="let emp of filteredEmployee | async" (onSelectionChange)="getSelectedEmployee($event, emp)" [value]="emp.supplier_name">
                                                    <span>{{ emp.supplier_name }}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <span class="error-msg" *ngIf="supplier_id.invalid && (supplier_id.dirty || supplier_id.touched || submitted)">
                                    <small *ngIf="supplier_id.errors.required">Please select Contractor from the list.</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="label-col">Client</div>
                        </div>
                        <div class="col-sm-7">
                            <div class="info-col">Internal Work</div>
                        </div>
                        <div class="col-sm-5">
                            <div class="label-col">Work Location</div>
                        </div>
                        <div class="col-sm-7">
                            <div class="info-col">{{WOInfo.defaultLocation}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="repairAssetInfo MB25" *ngIf="filterAssetType && pageData.asset_detail">
            <div class="row">
                <div class="col-sm-8">
                    <div class="label-col MB20">Repair Asset Information</div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info-col">Manufacturer</div>
                        </div>
                        <div class="col-sm-8">
                            <div class="info-col">{{assetsDetails.manf_detail.manf_name}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info-col">Item Definition</div>
                        </div>
                        <div class="col-sm-8">
                            <div class="info-col">{{assetsDetails.manf_part_detail.short_name}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info-col">Name</div>
                        </div>
                        <div class="col-sm-8">
                            <!-- <div class="info-col">{{assetsDetails.manf_part_detail.full_name}}</div> -->
                            <div class="info-col">{{assetsDetails.short_tag}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info-col">Serial No.</div>
                        </div>
                        <div class="col-sm-8">
                            <div class="info-col">{{assetsDetails.serial_no}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info-col">Details</div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group" *ngIf="!assetsDetails.mainetenance_req">
                                <textarea id="" name="comment" style="height: 110px;" formControlName="asset_details" class="form-control"></textarea>
                                <!-- <span class="error-msg" *ngIf="username.invalid && (username.dirty || username.touched || pageData.submitted)">
                                <small *ngIf="username.errors.required">User Name is required.</small>
                                <small *ngIf="username.errors.minlength">User Name must be at least 8 characters long.</small>
                                </span> -->
                            </div>
                            <div class="info-col" *ngIf="assetsDetails.mainetenance_req">{{assetsDetails.mainetenance_req.maintenance_details}}</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div *ngIf="WOInfo.assignee_id == '1'">

            <div *ngFor="let item of schedule_items.controls; let indxP=index" [formGroup]="item">
                <div *ngIf="item.get('schedule_type').value == 1">
                    <div class="treaRadioBtn">
                        <!-- <input autocomplete="nope" name="radio-group" type="radio" (change)="changeSchedule('once')" id="scheduleOnce" [checked]="scheduleType == 'once'">
                        <label for="scheduleOnce">Schedule Future</label> -->

                        <span class="fontW600">Schedule Future</span>
                    </div>
                    <!--  (mouseout)="changeText=false" -->
                    <div class="scheduleOnceWrap" *ngIf="scheduleType == 'once'">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <div class="label-col">Start Date</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="dateWrapper">
                                    <!-- <input autocomplete="nope" type="text" placeholder="" formControlName="caslDate" class="date" [matDatepicker]="picker" [min]="minDate"> -->
                                    <input autocomplete="nope" type="text" formControlName="start_date" placeholder="" class="date ptrN" [matDatepicker]="picker">
                                    <mat-datepicker #picker (selectedChanged)="startDateChange($event,indxP)"></mat-datepicker>
                                    <span class="dateIcon" (click)="picker.open()"><img src="assets/icon/date_picker.png"></span>
                                    <div class="clearfix"></div>
                                    <span class="error-msg" *ngIf="item.get('start_date').invalid && (item.get('start_date').dirty || item.get('start_date').touched || submitted)">
                                        <small *ngIf="item.get('start_date').errors.required">Start Date is required.</small>
                                    </span>
                                </div>

                            </div>
                            <div class="col-sm-2">
                                <div class="label-col">End Date</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="dateWrapper">
                                    <!-- <input autocomplete="nope" type="text" placeholder="" formControlName="caslDate" class="date" [matDatepicker]="picker" [min]="minDate" [min]="item.get('start_date').value"> -->
                                    <input autocomplete="nope" type="text" formControlName="end_date" placeholder="" class="date ptrN" [matDatepicker]="pickerEnd" >
                                    <mat-datepicker #pickerEnd (selectedChanged)="clearendtime($event,indxP)"></mat-datepicker>
                                    <span class="dateIcon" (click)="pickerEnd.open()"><img src="assets/icon/date_picker.png"></span>
                                    <div class="clearfix"></div>
                                    <span class="error-msg" *ngIf="item.get('end_date').invalid && (item.get('end_date').dirty || item.get('end_date').touched || submittedS)">
                                        <small *ngIf="item.get('end_date').errors.required">End Date is required.</small>
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group timeWrap">
                            <div class="col-sm-2">
                                <div class="label-col">Start Time</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="time">
                                    <input autocomplete="nope" [textMask]="{mask: constant.TIME_MASK}" placeholder="__:__" formControlName="start_time" type="text" name="" class="hours" (keyup)="clearendtime($event,indxP)"/>
                                    <select formControlName="start_time_format" class="" (change)="setSchedule(indxP)">
                                        <option [value]="'am'">am</option>
                                        <option [value]="'pm'">pm</option>
                                    </select>
                                </div>
                                <span class="error-msg" *ngIf="item.get('start_time').invalid && (item.get('start_time').dirty || item.get('start_time').touched || submittedS)">
                                    <small *ngIf="item.get('start_time').errors.required">Start Time is required.</small>
                                    <small *ngIf="item.get('start_time').errors.pattern">Enter valid Start Time.</small>
                                </span>
                            </div>
                            <div class="col-sm-2">
                                <div class="label-col">End Time</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="time">
                                    <input autocomplete="nope" [textMask]="{mask: constant.TIME_MASK}" placeholder="__:__" formControlName="end_time" type="text" name="" class="hours" (keyup)="compareendtime($event,indxP)"/>
                                    <select formControlName="end_time_format" class="" (change)="compareendtime($event,indxP)">
                                        <option [value]="'am'">am</option>
                                        <option [value]="'pm'">pm</option>
                                    </select>
                                </div>
                                <span class="error-msg" *ngIf="!item.get('end_time').errors">
                                    <small *ngIf="timeNowError">End time is not less than start time.</small>
                                </span>
                                <span class="error-msg" *ngIf="item.get('end_time').invalid && (item.get('end_time').dirty || item.get('end_time').touched || submittedS)">
                                    <small *ngIf="item.get('end_time').errors.required">End Time is required.</small>
                                    <small *ngIf="item.get('end_time').errors.pattern">Enter valid End Time.</small>
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div *ngIf="item.get('schedule_type').value == 2">
                    <div class="treaRadioBtn">
                        <input autocomplete="nope" name="radio-group" type="radio" (change)="changeSchedule('reccuring')" id="scheduleRecurring" [checked]="scheduleType == 'reccuring'">
                        <label for="scheduleRecurring">Schedule Recurring</label>
                    </div>
                    <div class="recurringWrap" *ngIf="scheduleType == 'reccuring'">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="label-col">Repeat</div>
                                    </div>
                                    <div class="col-sm-8">
                                        <!-- <div class="form-group selectRepeat pull-left">
                                            <select class="">
                                                <option>weekly</option>
                                                <option>daily</option>
                                            </select>
                                        </div> -->
                                        <div class="form-group selectRepeat pull-left">
                                            <div class="autoCompleteList">
                                                <div class="searchList">
                                                    <mat-form-field class="product">
                                                        <input autocomplete="nope" matInput placeholder="" formControlName="schedule_repeat_name" [matAutocomplete]="EmpAutoComp" (keyup)="validateRepeat($event)" id="repeat_id">
                                                        <i *ngIf="item.get('schedule_repeat_name').value!=''" (click)="util.clearAutoComplete('repeat_id', [item.get('schedule_repeat_name'), item.get('schedule_repeat')]);" class="clearAutoComplete fa fa-times-circle" aria-hidden="true"></i>
                                                        <img *ngIf="item.get('schedule_repeat_name').value==''" class="selectBoxIcon" aria-hidden src="assets/icon/select.png" />
                                                        <mat-autocomplete #EmpAutoComp="matAutocomplete">
                                                            <mat-option *ngFor="let indx=index; let item of filteredScheduleRepeat | async" [value]="item.status" (onSelectionChange)="getSelectedRepeat(item,$event)">
                                                            <span>{{ item.status }}</span>
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="info-col onTxt pull-right">on</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 PadL0">
                                <div class="weekDaysWrap" formGroupName="schedule_days">
                                    <div class="days Mar0">
                                        <div class="label-col">Sun</div>
                                        <div class="checkBox">
                                            <label>
                                                <input autocomplete="nope" type="checkbox" formControlName="Sun">
                                                <span class="iconChk"><i class="fa fa-check"></i> </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="days">
                                        <div class="label-col">Mon</div>
                                        <div class="checkBox" >
                                            <label>
                                                <input autocomplete="nope" type="checkbox" formControlName="Mon">
                                                <span class="iconChk"><i class="fa fa-check"></i> </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="days">
                                        <div class="label-col">Tue</div>
                                        <div class="checkBox">
                                            <label>
                                                <input autocomplete="nope" type="checkbox" formControlName="Tue">
                                                <span class="iconChk"><i class="fa fa-check"></i> </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="days">
                                        <div class="label-col">Wed</div>
                                        <div class="checkBox" >
                                            <label>
                                                <input autocomplete="nope" type="checkbox" formControlName="Wed">
                                                <span class="iconChk"><i class="fa fa-check"></i> </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="days">
                                        <div class="label-col">Thu</div>
                                        <div class="checkBox" >
                                            <label>
                                                <input autocomplete="nope" type="checkbox" formControlName="Thu">
                                                <span class="iconChk"><i class="fa fa-check"></i> </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="days">
                                        <div class="label-col">Fri</div>
                                        <div class="checkBox">
                                            <label>
                                                <input autocomplete="nope" type="checkbox" formControlName="Fri">
                                                <span class="iconChk"><i class="fa fa-check"></i> </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="days">
                                        <div class="label-col">Sat</div>
                                        <div class="checkBox">
                                            <label>
                                                <input autocomplete="nope" type="checkbox" formControlName="Sat">
                                                <span class="iconChk"><i class="fa fa-check"></i> </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                                <div class="col-sm-2">
                                    <div class="label-col">Start Date</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="dateWrapper">
                                            <!--  Edited by Shubham <input autocomplete="nope" type="text" formControlName="start_date" placeholder="" class="date ptrN" [matDatepicker]="picker" [min]="minDate"> -->
                                        <input autocomplete="nope" type="text" formControlName="start_date" placeholder="" class="date ptrN" [matDatepicker]="picker" >
                                        <mat-datepicker #picker (selectedChanged)="startDateChange($event,indxP)"></mat-datepicker>
                                        <span class="dateIcon" (click)="picker.open()"><img src="assets/icon/date_picker.png"></span>
                                        <div class="clearfix"></div>
                                        <span class="error-msg" *ngIf="item.get('start_date').invalid && (item.get('start_date').dirty || item.get('start_date').touched || submitted)">
                                            <small *ngIf="item.get('start_date').errors.required">Start Date is required.</small>
                                        </span>
                                    </div>

                                </div>
                                <div class="col-sm-2">
                                    <div class="label-col">End Date</div>
                                </div>
                                <div class="col-sm-4 Pad0">
                                    <div class="dateWrapper">
                                        <div class="treaRadioBtn">
                                            <input autocomplete="nope" name="endDate" type="radio" id="endDate2"  (change)="changeOccrence('endDate')" [checked]="!is_after">
                                            <label for="endDate2"></label>
                                        </div>
                                        <!--  Edited by Shubham <input autocomplete="nope" type="text" formControlName="end_date" placeholder="" class="date ptrN" [matDatepicker]="pickerEnd" [min]="item.get('start_date').value"> -->
                                        <input autocomplete="nope" type="text" formControlName="end_date" placeholder="" class="date ptrN" [matDatepicker]="pickerEnd" >
                                        <mat-datepicker #pickerEnd (selectedChanged)="clearendtime($event,indxP)"></mat-datepicker>
                                        <span class="dateIcon" (click)="pickerEnd.open()" [ngClass]="{'ptrN' : is_after}"><img src="assets/icon/date_picker.png"></span>
                                        <div class="clearfix"></div>
                                        <span style="margin-left: 32px;" class="error-msg" *ngIf="item.get('end_date').invalid && (item.get('end_date').dirty || item.get('end_date').touched || submitted)">
                                            <small *ngIf="item.get('end_date').errors.required">End Date is required.</small>
                                        </span>
                                    </div>
                                    <div class="afterOccurWrap">
                                        <div class="treaRadioBtn">
                                            <input autocomplete="nope" name="endDate" type="radio" id="after"  (change)="changeOccrence('after')" [checked]="is_after">
                                            <label for="after">After</label>
                                        </div>
                                        <div class="occurence">
                                            <input autocomplete="nope" type="text" name="" formControlName="end_after_occurences" [ngClass]="{'ptrN' : !is_after}"/>
                                            <span>Occurences</span>
                                            <span class="error-msg" *ngIf="item.get('end_after_occurences').invalid && (item.get('end_after_occurences').dirty || item.get('end_after_occurences').touched || submitted)">
                                                <small *ngIf="item.get('end_after_occurences').errors.required">Occurences is required.</small>
                                                <small *ngIf="item.get('end_after_occurences').errors.min">Enter occurence more than 0.</small>
                                                <small *ngIf="item.get('end_after_occurences').errors.max">Enter occurence below 52.</small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        <div class="form-group timeWrap">
                            <div class="col-sm-2">
                                <div class="label-col">Start Time</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="time">
                                    <input autocomplete="nope" [textMask]="{mask: constant.TIME_MASK}" placeholder="__:__" formControlName="start_time" type="text" name="" class="hours" (keyup)="clearendtime($event,indxP)"/>
                                    <select formControlName="start_time_format" class="" (change)="setSchedule(indxP)">
                                        <option [value]="'am'">am</option>
                                        <option [value]="'pm'">pm</option>
                                    </select>
                                </div>
                                <span class="error-msg" *ngIf="item.get('start_time').invalid && (item.get('start_time').dirty || item.get('start_time').touched || submittedS)">
                                    <small *ngIf="item.get('start_time').errors.required">Start Time is required.</small>
                                    <small *ngIf="item.get('start_time').errors.pattern">Enter valid Start Time.</small>
                                </span>
                            </div>
                            <div class="col-sm-2">
                                <div class="label-col">End Time</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="time">
                                    <input autocomplete="nope" [textMask]="{mask: constant.TIME_MASK}" placeholder="__:__" formControlName="end_time" type="text" name="" class="hours" (keyup)="compareendtime($event, indxP)"/>
                                    <select formControlName="end_time_format" class="" (change)="compareendtime($event,indxP)">
                                        <option [value]="'am'">am</option>
                                        <option [value]="'pm'">pm</option>
                                    </select>
                                </div>
                                <span class="error-msg" *ngIf="!item.get('end_time').errors">
                                    <small *ngIf="timeNowError">End time is not less than start time.</small>
                                </span>
                                <span class="error-msg" *ngIf="item.get('end_time').invalid && (item.get('end_time').dirty || item.get('end_time').touched || submittedS)">
                                    <small *ngIf="item.get('end_time').errors.required">End Time is required.</small>
                                    <small *ngIf="item.get('end_time').errors.pattern">Enter valid End Time.</small>
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <!-- <div *ngIf="item.get('schedule_type').value == 3">
                    <div class="treaRadioBtn">
                        <input autocomplete="nope" name="radio-group" type="radio" (change)="changeSchedule('now')" id="scheduleNow" [checked]="scheduleType == 'now'">
                        <label for="scheduleNow">Schedule Now</label>
                    </div>
                    <div class="scheduleNow" *ngIf="scheduleType == 'now'">
                        
                        <div class="dateTimeWrap">
                            <div class="form-group dateWrap">
                                <div class="col-sm-2">
                                    <div class="label-col">Start Date</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="info-col">{{util.getFormatedDate(item.get('start_date').value)}}</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="label-col">End Date</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="info-col">{{util.getFormatedDate(item.get('end_date').value)}}</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group timeWrap">
                                <div class="col-sm-2">
                                    <div class="label-col">Start Time</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="time">
                                        <input autocomplete="nope" [textMask]="{mask: constant.TIME_MASK}" placeholder="__:__" formControlName="start_time" type="text" name="" class="hours" (keyup)="clearendtime($event,indxP)"/>
                                        <select formControlName="start_time_format" class="" (change)="clearendtime($event,indxP)">
                                            <option [value]="'am'">am</option>
                                            <option [value]="'pm'">pm</option>
                                        </select>
                                    </div>
                                    <span class="error-msg" *ngIf="item.get('start_time').invalid && (item.get('start_time').dirty || item.get('start_time').touched || submittedS)">
                                        <small *ngIf="item.get('start_time').errors.required">Start Time is required.</small>
                                        <small *ngIf="item.get('start_time').errors.pattern">Enter valid Start Time.</small>
                                    </span>
                                </div>
                                <div class="col-sm-2">
                                    <div class="label-col">End Time</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="time">
                                        <input autocomplete="nope" [textMask]="{mask: constant.TIME_MASK}" placeholder="__:__" formControlName="end_time" type="text" name="" class="hours" (keyup)="compareendtime($event,indxP)"/>
                                        <select formControlName="end_time_format" class="" (change)= "compareendtime($event,indxP)">
                                            <option [value]="'am'">am</option>
                                            <option [value]="'pm'">pm</option>
                                        </select>
                                    </div>
                                    <span class="error-msg" *ngIf="!item.get('end_time').errors">
                                        <small *ngIf="timeNowError">End time is not less than start time.</small>
                                    </span>
                                    <span class="error-msg" *ngIf="item.get('end_time').invalid && (item.get('end_time').dirty || item.get('end_time').touched || submittedS)">
                                        <small *ngIf="item.get('end_time').errors.required">End Time is required.</small>
                                        <small *ngIf="item.get('end_time').errors.pattern">Enter valid End Time.</small>
                                    </span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

            <div class="workOrderDetails" *ngIf="isScheduleValid">
                <div class="quotTabsWrap">
                    <nav class="tabbed-nav">
                        <ul class="tabs-list">
                            <li class="tabs">
                                <button [ngClass]="workOrderTab == 'services' ? 'act-option' :''" (click)="changeQuotTab('services', false)" mat-raised-button class="trea-btn">Services</button>
                            </li>
                            <li class="tabs">
                                <button [ngClass]="workOrderTab == 'team' ? 'act-option' :''" (click)="changeQuotTab('team', false)" mat-raised-button class="trea-btn">Team</button>
                            </li>
                            <li class="tabs">
                                <button [ngClass]="workOrderTab == 'assets' ? 'act-option' :''" (click)="changeQuotTab('assets', false)" mat-raised-button class="trea-btn">Assets</button>
                            </li>
                            <li class="tabs">
                                <button [ngClass]="workOrderTab == 'products' ? 'act-option' :''" (click)="changeQuotTab('products', false)" mat-raised-button class="trea-btn">Products/Materials</button>
                            </li>
                        </ul>
                    </nav>
                    <div class="servicesWrap" >
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>



            <!-- <div class="workOrderDetails" *ngIf="isScheduleValid">
                <div class="pageTitle">Details</div>

                <div class="quotTabsWrap">
                    <div class="quotNav">
                        <div class="tabs Mar0">
                            <button [ngClass]="workOrderTab == 'services' ? 'act-option' :''" (click)="changeQuotTab('services')" mat-raised-button class="trea-btn">Services</button>
                        </div>
                        <div class="tabs">
                            <button [ngClass]="workOrderTab == 'team' ? 'act-option' :''" (click)="changeQuotTab('team')" mat-raised-button class="trea-btn">Team</button>
                        </div>
                        <div class="tabs">
                            <button [ngClass]="workOrderTab == 'assets' ? 'act-option' :''" (click)="changeQuotTab('assets')" mat-raised-button class="trea-btn">Assets</button>
                        </div>
                        <div class="tabs">
                            <button [ngClass]="workOrderTab == 'products' ? 'act-option' :''" (click)="changeQuotTab('products')" mat-raised-button class="trea-btn">Products/Materials</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="servicesWrap MB30" >
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div> -->


            <!-- <div class="col-sm-6"> -->
                <div class="errMsgCon" *ngIf="isError">
                    <small>{{errMsg}}</small>
                </div>
                <div class="workOrderInBtn text-center">
                    <button *ngIf="currentAction == 'EDIT'" id="update-btn" class="mdBtn" (click)="save(scheduleForm)">Update</button>
                    <button *ngIf="currentAction == 'ADD'" class="mdBtn" (click)="save(scheduleForm)">Next</button>
                    <button class="mdBtn ML15" routerLink="/workflow/wo/csa/work-order-list/0">Cancel</button>
                </div>
            <!-- </div> -->

            <!-- <div class="col-sm-6">
                <div class="workOrderInBtn">
                    <button class="mdBtn">Cancel</button>
                </div>
            </div> -->
        </div>
    </form>
</div>

<div class="WOSetupSection">

    <!-- <div class="pageTitle">Work Order Setup</div>
    <div class="row quoteSection">
        <div class="col-sm-4">
            <div class="row form-group">
                <div class="col-sm-5">
                    <div class="label-col">Quote No.</div>
                </div>
                <div class="col-sm-7">
                    <div class="info-col">xxxxxx</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5">
                    <div class="label-col">Assign to</div>
                </div>
                <div class="col-sm-7">
                    <select class="form-control">
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="reqDescWrap">
        <div class="label-col text-center MB20">Requirements Description</div>
        <div class="info-col font16">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
            voluptatibus excepturi error fugit sit esse sunt, ad eos aliquam suscipit sapiente,
            accusamus provident recusandae assumenda sed quidem amet obcaecati quaerat!
        </div>
        <div class="viewImgLink">
            <a href="javascript:void(0)" >View Image</a>
        </div>
        <div class="checkBox">
            <label>
                <input autocomplete="nope" checked="" type="checkbox">
                <span class="iconChk"><i class="fa fa-check"></i> </span>
                Add All to Work Order
            </label>
        </div>
    </div>

    <div class="serviceTblWrap">
        <div class="tblTitle">
            <span>Services</span>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Details</th>
                        <th>Quote Quantity</th>
                        <th>WO Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Phasselus</td>
                        <td>Fusce pulvinar porttitor lectus, eu semper purus posuere ac. Vestibulum ut auctor massa. Fusce id condimentum velit.</td>
                        <td class="text-center">10</td>
                        <td class="text-center"><input autocomplete="nope" type="text" name="WOqty" value="10"></td>
                    </tr>
                    <tr>
                        <td>Macarana</td>
                        <td></td>
                        <td class="text-center">10</td>
                        <td class="text-center"><input autocomplete="nope" type="text" name="WOqty" value="7"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="serviceTblWrap materialTblWrap">
        <div class="tblTitle">
            <span>Materials</span>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Type</th>
                        <th>Details</th>
                        <th>Quote Quantity</th>
                        <th>WO Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Phasselus</td>
                        <td>Fusce pulvinar porttitor lectus, eu semper purus posuere ac. Vestibulum ut auctor massa. Fusce id condimentum velit.</td>
                        <td class="text-center">10</td>
                        <td class="text-center"><input autocomplete="nope" type="text" name="WOqty" value="10"></td>
                    </tr>
                    <tr>
                        <td>Macarana</td>
                        <td></td>
                        <td class="text-center">10</td>
                        <td class="text-center"><input autocomplete="nope" type="text" name="WOqty" value="7"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="btnWrap text-center">
        <button class="mdBtn">Create W/O</button>
        <button class="mdBtn ML15">Cancel</button>
    </div> -->
</div>
