<!-- Page URL :- http://localhost:4200/csa/add-client/MA%3D%3D -->
<h3 *ngIf="!crm.isEditFromList">New Client</h3>
<div class="newClientWrapper clearfix">
  <form autocomplete="off" [formGroup]="addClientFm">
    <div class="row">
      <!--<div *ngIf="!crm.isEditFromList">-->
      <div class="col-md-4">
        <div class="form-group row clearfix">
          <label class="col-sm-4 control-label">Client Type</label>
          <div class="col-sm-8">
            <select class="form-control" formControlName="client_type">
              <option value="" selected></option>
              <option value="Company">Company</option>
              <option value="Individual">Individual</option>
            </select>
            <span
              class="error-msg"
              *ngIf="
                client_type.invalid &&
                (client_type.dirty || client_type.touched || submitted)
              "
            >
              <small *ngIf="client_type.errors.required"
                >Client Type is required.</small
              >
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="form-group row clearfix"
          *ngIf="addClientFm.get('client_type').value == 'Company'"
        >
          <label class="col-sm-4 control-label">Company Name</label>
          <div class="col-sm-8">
            <input
              autocomplete="nope"
              class="form-control"
              formControlName="company_name"
              placeholder=""
              type="text"
            />
            <span
              class="error-msg"
              *ngIf="
                company_name.invalid &&
                (company_name.dirty || company_name.touched || submitted)
              "
            >
              <small *ngIf="company_name.errors.required"
                >Company Name is required.</small
              >
              <small *ngIf="company_name.errors.minlength"
                >Company Name must be at least 2 characters long.</small
              >
              <small *ngIf="company_name.errors.maxlength"
                >Company Name must be less than 100 characters.</small
              >
            </span>
          </div>
        </div>
        <div
          class="form-group row clearfix"
          *ngIf="addClientFm.get('client_type').value == 'Individual'"
        >
          <label class="col-sm-4 control-label">First Name</label>
          <div class="col-sm-8">
            <input
              autocomplete="nope"
              class="form-control"
              formControlName="first_name"
              placeholder=""
              type="text"
            />
            <span
              class="error-msg"
              *ngIf="
                first_name.invalid &&
                (first_name.dirty || first_name.touched || submitted)
              "
            >
              <small *ngIf="first_name.errors.required"
                >First Name is required.</small
              >
              <small *ngIf="first_name.errors.minlength"
                >First Name must be at least 2 characters long.</small
              >
              <small *ngIf="first_name.errors.maxlength"
                >First Name must be less than 100 characters.</small
              >
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="form-group row clearfix optional"
          *ngIf="addClientFm.get('client_type').value == 'Company'"
        >
          <label class="col-sm-4 control-label optional">Legal Name</label>
          <div class="col-sm-8">
            <input
              autocomplete="nope"
              class="form-control"
              formControlName="legal_name"
              placeholder="(Optional)"
              type="text"
            />
          </div>
        </div>
        <div
          class="form-group row clearfix"
          *ngIf="addClientFm.get('client_type').value == 'Individual'"
        >
          <label class="col-sm-4 control-label">Last Name</label>
          <div class="col-sm-8">
            <input
              autocomplete="nope"
              class="form-control"
              formControlName="last_name"
              placeholder=""
              type="text"
            />
            <span
              class="error-msg"
              *ngIf="
                last_name.invalid &&
                (last_name.dirty || last_name.touched || submitted)
              "
            >
              <small *ngIf="last_name.errors.required"
                >Last Name is required.</small
              >
              <small *ngIf="last_name.errors.minlength"
                >Last Name must be at least 2 characters long.</small
              >
              <small *ngIf="last_name.errors.maxlength"
                >Last Name must be less than 100 characters.</small
              >
            </span>
          </div>
        </div>
      </div>
      <!--</div>-->
      <div class="clearfix"></div>
      <div class="col-md-4">
        <div class="form-group row clearfix optional">
          <label class="col-sm-4 control-label">Referral Type</label>
          <div class="col-sm-8">
            <div class="autoCompleteList">
              <div class="searchList">
                <mat-form-field class="product">
                  <input
                    autocomplete="nope"
                    id="ref_type_id"
                    matInput
                    placeholder=""
                    [formControl]="referral_type"
                    [matAutocomplete]="referralTyp"
                    (keyup)="validateClient($event)"
                  />
                  <i
                    *ngIf="referral_type.value != ''"
                    (click)="
                      util.clearAutoComplete('ref_type_id', [
                        referral_type,
                        ref_type_id
                      ])
                    "
                    class="clearAutoComplete fa fa-times-circle"
                    aria-hidden="true"
                  ></i>
                  <img
                    *ngIf="referral_type.value == ''"
                    class="selectBoxIcon"
                    aria-hidden
                    src="assets/icon/select.png"
                  />
                  <mat-autocomplete #referralTyp="matAutocomplete">
                    <mat-option
                      *ngFor="
                        let indx = index;
                        let item;
                        of: filteredReferralTypeList | async
                      "
                      [value]="item.referral_type"
                      (onSelectionChange)="getSelectedReferal(item, $event)"
                    >
                      <span>{{ item.referral_type }}</span>
                    </mat-option>
                    <mat-option (click)="addReferalType()">
                      <img aria-hidden src="assets/icon/icon-add.png" />
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <!-- <span class="error-msg" *ngIf="ref_type_id.invalid && (ref_type_id.dirty || ref_type_id.touched || submitted)">
                            <small *ngIf="ref_type_id.errors.required">Please select Client from the list.</small>
                        </span> -->
            <!-- <div class="autoCompleteList">
                            <div class="searchList">
                                <mat-form-field class="">
                                <input autocomplete="nope" matInput placeholder=""  [matAutocomplete]="referralTyp" [formControl]="ref_type_id">
                                <img style="vertical-align:middle;" class="selectBoxIcon" aria-hidden src="assets/icon/select.png" height="20" />
                                <mat-autocomplete #referralTyp="matAutocomplete">
                                <mat-option style="height: 25px;line-height: 25px;font-size: 12px;font-family: 'Montserrat-Regular';color: #505050;" *ngFor="let indx=index; let item of filteredReferralTypeList | async" [value]="item.referral_type">
                                <span>{{ item.referral_type }}</span>
                                </mat-option>
                                
                                <mat-option style="height: 25px;line-height: 25px;font-size: 12px;font-family: 'Montserrat-Regular';color: #505050;" (click)="addReferalType()">
                                <img style="vertical-align:middle;" aria-hidden src="assets/icon/icon-add.png" height="15" />
                                </mat-option>
                                </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div> -->
          </div>
        </div>
      </div>
      <!-- Payment Term -->
      <div class="col-md-4">
        <div class="form-group row clearfix optional">
          <label class="col-sm-4 control-label">Payment Term</label>
          <div class="col-sm-8">
            <div class="col-sm-10">
              <input
                autocomplete="nope"
                class="form-control"
                formControlName="payment_term"
                placeholder="(optional)"
                type="text"
              />
            </div>
            <div class="col-sm-2">
              days
            </div>
            <span
              class="error-msg"
              *ngIf="
                payment_term.invalid &&
                (payment_term.dirty || payment_term.touched || submitted)
              "
            >
              <small *ngIf="payment_term.errors.required"
                >Payment Term is required.</small
              >
              <small *ngIf="payment_term.errors.minlength"
                >Payment Term must be at least 2 characters long.</small
              >
              <small *ngIf="payment_term.errors.maxlength"
                >Payment Term must be less than 100 characters.</small
              >
            </span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4">
        <div class="form-group row optional clearfix">
          <label class="col-sm-4 control-label">Comments</label>
          <div class="col-sm-8">
            <textarea
              class="form-control "
              placeholder="(Optional)"
              rows="5"
              name="comment"
              placeholder=""
              formControlName="comments"
              class="form-control "
            ></textarea>
            <span
              class="error-msg"
              *ngIf="
                comments.invalid &&
                (comments.dirty || comments.touched || submitted)
              "
            >
              <!-- <small *ngIf="comments.errors.required">Comment is required.</small> -->
              <small *ngIf="comments.errors.maxlength"
                >Comment must not greater than
                {{ constant.DEFAULT_COMMENT_MAXLENGTH }} characters.
              </small>
            </span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div
        class="col-md-4"
        *ngFor="let field of additional_fields.controls; let indx = index"
        [formGroup]="field"
      >
        <div class="form-group row">
          <label
            class="col-sm-4 control-label"
            [ngClass]="
              field.get('optionalStatus').value == 'False' ? '' : 'optional'
            "
            for="relationship"
            >{{ field.get("label").value }}</label
          >

          <div class="col-sm-8" *ngIf="field.get('dataType').value != 'Date'">
            <input
              autocomplete="nope"
              type="text"
              name=""
              placeholder="{{
                field.get('optionalStatus').value == 'False' ? '' : '(optional)'
              }}"
              class="form-control"
              [ngClass]="
                field.get('optionalStatus').value == 'False' ? '' : 'optional'
              "
              formControlName="data"
            />
            <span
              class="error-msg"
              *ngIf="
                field.get('data').invalid &&
                (field.get('data').dirty ||
                  field.get('data').touched ||
                  submitted)
              "
            >
              <small *ngIf="field.get('data').errors.required"
                >{{ field.get("label").value }} is required.</small
              >
              <small *ngIf="field.get('data').errors.pattern"
                >Enter valid {{ field.get("label").value }}(e.g.
                <span *ngIf="field.get('dataType').value == 'Number'"
                  >101, 280 etc.</span
                ><span *ngIf="field.get('dataType').value == 'Decimal'"
                  >2.5, 45.5 etc.</span
                ><span *ngIf="field.get('dataType').value == 'Date'"
                  >YYYY-MM-DD, 2018-02-04 etc.</span
                >).</small
              >
            </span>
          </div>
          <div class="col-sm-8" *ngIf="field.get('dataType').value == 'Date'">
            <div class="dateWrapper">
              <!-- [min]="minDate"> -->
              <input
                autocomplete="nope"
                type="text"
                formControlName="data"
                class="date"
                [matDatepicker]="picker"
                style="pointer-events: none;"
                readonly="true"
              />
              <mat-datepicker #picker></mat-datepicker>
              <span class="dateIcon" (click)="picker.open()"
                ><img src="assets/icon/date_picker.png"
              /></span>
              <div class="clearfix"></div>
              <span
                class="error-msg"
                *ngIf="
                  field.get('data').invalid &&
                  (field.get('data').dirty ||
                    field.get('data').touched ||
                    submitted)
                "
              >
                <small *ngIf="field.get('data').errors.required"
                  >Date is required.</small
                >
                <small *ngIf="field.get('data').errors.min"
                  >Please enter upcoming date.</small
                >
              </span>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="addContBox clearfix">
          <div
            *ngFor="let addrItem of address.controls; let indx = index"
            [formGroup]="addrItem"
          >
            <!-- *ngIf="indx!=0" -->
            <div
              *ngIf="addrItem.get('is_deleted').value != 1"
              (mouseleave)="
                countryChange(indx, addrItem.get('country_id').value, addrItem);
                updateContactAddress(indx, addrItem)
              "
            >
              <h4>
                Address {{ indx + 1 }}
                <a
                  href="javascript:void(0)"
                  class="ML15"
                  (click)="removeAddress(indx)"
                  ><img class="" src="assets/icon/close_icon.png"
                /></a>
              </h4>

              <div class="form-group clearfix">
                <label class="col-sm-4 control-label">Address Type</label>
                <div class="col-sm-8">
                  <!-- [(ngModel)]="optionsModel" [settings]="mulSelSettings" -->
                  <div class="trea-multi-select">
                    <ss-multiselect-dropdown
                      [options]="addressTypeList"
                      [settings]="mulSelSettings"
                      [texts]="selectText"
                      formControlName="address_type"
                      (ngModelChange)="addressTypeChange(indx, addrItem)"
                    ></ss-multiselect-dropdown>
                  </div>
                  <span
                    class="error-msg"
                    *ngIf="
                      addrItem.get('address_type').invalid &&
                      (addrItem.get('address_type').dirty ||
                        addrItem.get('address_type').touched ||
                        submitted)
                    "
                  >
                    <small *ngIf="addrItem.get('address_type').errors.required"
                      >Please select address type from the list.</small
                    >
                  </span>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-sm-4 control-label txtColor optional"
                  >Address Line 1</label
                >
                <div class="col-sm-8">
                  <input
                    autocomplete="nope"
                    type="text"
                    id="addressLine1"
                    name="addressLine1"
                    placeholder=""
                    class="form-control"
                    placeholder="(Optional)"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="off"
                    type="text"
                    #search
                    formControlName="address_line_1"
                    (keydown)="currentGoogleAuto = indx"
                    (mouseover)="util.disableAutocomplete()"
                  />

                  <!-- <input autocomplete="nope" class="form-control" [attr.id]="'addr1'+indx" formControlName="address_line_1" type="text" (change)="updateContactAddress(indx, addrItem)"> -->
                  <!-- <span class="error-msg" *ngIf="addrItem.get('address_line_1').invalid && (addrItem.get('address_line_1').dirty || addrItem.get('address_line_1').touched || submitted)">
                                        <small *ngIf="addrItem.get('address_line_1').errors.required">Address Line 1 is required.</small>
                                    </span> -->
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-sm-4 control-label optional"
                  >Address Line 2</label
                >
                <div class="col-sm-8">
                  <input
                    autocomplete="nope"
                    class="form-control"
                    placeholder="(Optional)"
                    [attr.id]="'addr2' + indx"
                    formControlName="address_line_2"
                    type="text"
                    (change)="updateContactAddress(indx, addrItem)"
                  />
                </div>
              </div>
              <!-- <div class="form-group clearfix">
                                <label class="col-sm-4 control-label">Country</label>
                                <div class="col-sm-8">
                                    <select formControlName="country_id" class="form-control" (change)="countryChange(indx, $event.target.value, addrItem)">
                                        <option value="" selected></option>
                                        <option [value]="country.country_id" *ngFor="let country of countries"> {{country.country_name}}</option>
                                    </select>
                                    <span class="error-msg" *ngIf="addrItem.get('country_id').invalid && (addrItem.get('country_id').dirty || addrItem.get('country_id').touched || submitted)">
                                        <small *ngIf="addrItem.get('country_id').errors.required">Please select country from the list.</small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-4 control-label">Province</label>
                                <div class="col-sm-8">
                                    <input autocomplete="nope" type="text" placeholder=""  name="province_id" formControlName="province_id" class="form-control" (change)="stateChange(indx, addrItem)">
                                    
                                    <span class="error-msg" *ngIf="addrItem.get('province_id').invalid && (addrItem.get('province_id').dirty || addrItem.get('province_id').touched || submitted)">
                                        <small *ngIf="addrItem.get('province_id').errors.required">Province is required.</small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-4 control-label">City</label>
                                <div class="col-sm-8">
                                    <input autocomplete="nope" type="text" placeholder=""  name="city_id" formControlName="city_id" class="form-control" (change)="cityChange(indx, addrItem)">

                                    
                                    <span class="error-msg" *ngIf="addrItem.get('city_id').invalid && (addrItem.get('city_id').dirty || addrItem.get('city_id').touched || submitted)">
                                        <small *ngIf="addrItem.get('city_id').errors.required">City is required.</small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-4 control-label">Postal Code</label>
                                <div class="col-sm-8">
                                    <input autocomplete="nope" type="text" placeholder=""  name="postal_code" formControlName="postal_code" class="form-control" (change)="updateContactAddress(indx, addrItem)">
                                    <span class="error-msg" *ngIf="addrItem.get('postal_code').invalid && (addrItem.get('postal_code').dirty || addrItem.get('postal_code').touched || submitted)">
                                        <small *ngIf="addrItem.get('postal_code').errors.required">Postal Code is required.</small>
                                        <small *ngIf="addrItem.get('postal_code').errors.minlength">Postal Code must be at least 3 characters long.</small>
                                        <small *ngIf="addrItem.get('postal_code').errors.maxlength">Postal Code must be less than 10 characters.</small>
                                        <small *ngIf="addrItem.get('postal_code').errors.pattern && !addrItem.get('postal_code').errors.minlength && !addrItem.get('postal_code').errors.maxlength">Enter Valid Postal Code.</small>
                                    </span>
                                </div>
                            </div> -->
            </div>
          </div>
          <div class="form-group clearfix">
            <div class="col-sm-12">
              <div class="addIcon Mar0 pull-left">
                <img
                  src="assets/icon/icon-add.png"
                  (click)="addAddress(address.controls.length, 0)"
                /><span
                  class="labelBtn optional cursorPtr"
                  (click)="addAddress(address.controls.length, 0)"
                  >Add Address</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="addContBox clearfix">
          <div
            *ngFor="let contact of contacts.controls; let indx = index"
            [formGroup]="contact"
          >
            <div *ngIf="contact.get('is_deleted').value != 1">
              <!-- *ngIf="indx!=0" -->
              <h4>
                Contact {{ indx + 1 }}
                <a
                  href="javascript:void(0)"
                  class="ML15"
                  (click)="removeContact(indx)"
                  ><img class="" src="assets/icon/close_icon.png"
                /></a>
              </h4>
              <div class="form-group clearfix">
                <!-- {{contact.get('address').value}} -->
                <label class="col-sm-4 control-label optional">Address </label>
                <div class="col-sm-8">
                  <div class="trea-multi-select">
                    <ss-multiselect-dropdown
                      [options]="contactAddrList"
                      [settings]="mulSelSettings"
                      [texts]="selectText"
                      formControlName="address"
                      (change)="contactAddressChange(indx, contact)"
                    ></ss-multiselect-dropdown>
                  </div>
                  <span
                    class="error-msg"
                    *ngIf="
                      contact.get('address').invalid &&
                      (contact.get('address').dirty ||
                        contact.get('address').touched ||
                        submitted)
                    "
                  >
                    <small *ngIf="contact.get('address').errors.required"
                      >Please Select Address.</small
                    >
                  </span>
                  <!-- <select class="form-control">
                                        <option value="Company">Address 1:37 Commodo, To</option>
                                        <option value="Company2">Company2</option>
                                    </select> -->
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-sm-4 control-label optional"
                  >Contact Type</label
                >
                <div class="col-sm-8">
                  <input
                    autocomplete="nope"
                    class="form-control"
                    placeholder="(Optional)"
                    formControlName="contact_type"
                    type="text"
                  />
                  <span
                    class="error-msg"
                    *ngIf="
                      contact.get('contact_type').invalid &&
                      (contact.get('contact_type').dirty ||
                        contact.get('contact_type').touched ||
                        submitted)
                    "
                  >
                    <small *ngIf="contact.get('contact_type').errors.minlength"
                      >Contact Type must be at least 2 characters long.</small
                    >
                    <small *ngIf="contact.get('contact_type').errors.maxlength"
                      >Contact Type must be less than 30 characters.</small
                    >
                  </span>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-sm-4 control-label optional">Name</label>
                <div class="col-sm-8">
                  <input
                    autocomplete="nope"
                    class="form-control"
                    formControlName="name"
                    placeholder="(Optional)"
                    type="text"
                  />
                  <span
                    class="error-msg"
                    *ngIf="
                      contact.get('name').invalid &&
                      (contact.get('name').dirty ||
                        contact.get('name').touched ||
                        submitted)
                    "
                  >
                    <!-- <small *ngIf="contact.get('name').errors.required">Name is required.</small> -->
                    <small *ngIf="contact.get('name').errors.minlength"
                      >Name must be at least 2 characters long.</small
                    >
                    <small *ngIf="contact.get('name').errors.maxlength"
                      >Name must be less than 200 characters.</small
                    >
                  </span>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-sm-4 control-label txtColor optional"
                  >Phone Number</label
                >
                <div class="col-sm-8">
                  <!-- <input autocomplete="nope" type="text" [textMask]="{mask: constant.PHONE_NUMBER_MASK}" formControlName="phoneNumber" class="form-control" (keypress)="util.keyPress($event)"> -->
                  <input
                    autocomplete="nope"
                    type="text"
                    [textMask]="{ mask: constant.PHONE_NUMBER_MASK }"
                    id="phoneNumber"
                    name="phoneNumber"
                    placeholder="(Optional)"
                    formControlName="phone_no"
                    class="form-control "
                    (keypress)="util.keyPress($event)"
                  />
                  <span
                    class="error-msg"
                    *ngIf="
                      contact.get('phone_no').invalid &&
                      (contact.get('phone_no').dirty ||
                        contact.get('phone_no').touched ||
                        submitted)
                    "
                  >
                    <!-- <small *ngIf="contact.get('phone_no').errors.required">Phone Number is required.</small> -->
                    <small *ngIf="contact.get('phone_no').errors.pattern"
                      >Enter Valid Phone Number.</small
                    >
                  </span>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-sm-4 control-label txtColor optional"
                  >Email</label
                >
                <div class="col-sm-8">
                  <input
                    autocomplete="nope"
                    type="text"
                    formControlName="email_id"
                    class="form-control"
                    placeholder="(Optional)"
                  />
                  <span
                    class="error-msg"
                    *ngIf="
                      contact.get('email_id').invalid &&
                      (contact.get('email_id').dirty ||
                        contact.get('email_id').touched ||
                        submitted)
                    "
                  >
                    <!-- <small *ngIf="contact.get('email_id').errors.required">Email is required.</small> -->
                    <small *ngIf="contact.get('email_id').errors.pattern"
                      >Enter valid email.</small
                    >
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group clearfix">
            <div class="col-sm-12">
              <div class="addIcon Mar0 pull-left">
                <img
                  src="assets/icon/icon-add.png"
                  (click)="addContact(contacts.controls.length, 0)"
                /><span
                  class="labelBtn optional cursorPtr"
                  (click)="addContact(contacts.controls.length, 0)"
                  >Add Contact</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="errMsgCon" *ngIf="isError">
      <small>{{ errMsg }}</small>
    </div>
    <div class="button-row clearfix">
      <button
        mat-raised-button
        class="trea-btn"
        (click)="goToReview(addClientFm)"
        *ngIf="!crm.isEditFromList"
      >
        Next
      </button>
      <button
        mat-raised-button
        id="updateClient"
        class="trea-btn"
        (click)="updateClient(addClientFm)"
        *ngIf="crm.isEditFromList"
      >
        Update
      </button>
      <button mat-raised-button class="trea-btn" (click)="cancelAddClient()">
        Cancel
      </button>
    </div>
  </form>
</div>
