h3, h4 {
    text-align: center;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
}
.newClientWrapper { width: 100%; margin-top: 50px;}
.newClientWrapper .control-label {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding-right: 0px;
}
.newClientWrapper .form-group {margin-bottom: 25px;}

.addContBox {
    background: #f6f6f6;
    margin-top: 25px;
    padding: 20px 0px;
    margin-bottom: 25px;
}
.addContBox h4 {margin-bottom: 20px;}
.addNewAddBtn i {
    margin-right: 5px;
    color: #00a99d;
}
.newAddNxtBtn {
    float: right;
}

@media screen and (max-width:360px) {
.newAddNxtBtn {
    float: none;
    margin-right: 10px;
}
}
.addIcon{
    margin-left: 5px;
}
.addIcon>img{
    max-width: 100%;
    vertical-align: text-top;
    cursor: pointer;
}

.addIcon>span,
.closeIcon>span{
    /* cursor: pointer; */
    padding-left: 10px;
}
.newClientWrapper .labelBtn{
    font-weight: 600;
}

/* Auto Complete Drop down list Css Start */

  .errMsgCon{ text-align: center;margin-bottom: 20px; }
.errMsgCon small{ 
    color: #F44336;
    font-size: smaller;
  }
  /* Auto Complete Drop down list Css End */

  textarea.form-control{
      min-width: 200px;
  }
  
  .dateWrapper .date{
    display: block;
    width: 88%;
    float: left;
  }
  .dateWrapper .dateIcon{
    display: block;
    width: 10%;
    float: right;
    text-align: right;
    cursor: pointer;
  }
  .dateWrapper .dateIcon img{
   max-height: 25px;
  }