<div class="woListSection">
  <h1 class="pageHeader">Work Orders</h1>
  <p class="page-summary">
    Detailed work requirements and scheduling for all jobs.
  </p>
  <div class="trea-welcome" *ngIf="WorkOrderList.length == 0 && onBoarding">
        <h4>There are no Work Orders yet.</h4>
        <p class="textJustified">
            Work Orders can be created from Project Estimates (for Client work) or can specify work to be done within the company. Work orders can be assigned to the company’s own staff, or to outside Contractors as necessary. Schedule the work, reserve the required Assets, and get your team to work.
        </p>
        <p class="textJustified">
            Work Orders will be listed here when an authorized user has created one.
        </p>
        <p class="textJustified">
            Employees or Subcontractors must exist before a WO can be made.
        </p>
        <div class="button-row clearfix" *ngIf="util.getRole() == 2 || permissionsSet.createWorkOrders">
            
          <button 
            mat-raised-button
            class="trea-btn"
            type="button"
            routerLink="/workflow/wo/csa/work-order/services"
          >
          Create a Work Order
          </button>
          
        </div>
        <div class="clearfix" *ngIf="util.getRole() != 2 && !permissionsSet.createWorkOrders">
            <p class="note">Please contact an administrator who can add Work Order</p> 
        </div>          
    </div>
  <div class="head-row clearfix" *ngIf="WorkOrderList.length != 0">
    <div class="search-section">
      <div class="input-group">
        <span class="search-icn" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <!-- [(ngModel)]="searchList" (ngModelChange)="getSearchTxt(searchList)" (keyup)="searchTxt = util.searchInList($event, searchList)" -->
        <input
          autocomplete="nope"
          type="text"
          class="form-control"
          placeholder=""
          aria-label=""
          aria-describedby="basic-addon1"
          [(ngModel)]="searchList"
          (ngModelChange)="getSearchTxt(searchList)"
        />
        <!-- (click)="searchTxt = searchList" -->
        <button
          mat-raised-button
          class="client-btn"
          (click)="searchTxt = searchList"
        >
          Search
        </button>
      </div>
    </div>
    <div class="add-client addEmpBtnWrap">
      <div class="dropdown">
        <button
          *ngIf="util.getRole() == 2 || permissionsSet.createWorkOrders"
          mat-raised-button
          class="client-btn dropdown-toggle"
          type="button"
          data-toggle="dropdown"
        >
          New Work Order
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              href="javascript:void(0)"
              class="client-btn text-center"
              routerLink="/workflow/wo/csa/work-order/services"
              >Internal</a
            >
          </li>
          <li>
            <a
              href="javascript:void(0)"
              class="client-btn text-center"
              (click)="showQuotationListPopup()"
              >Client</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <nav class="tabbed-nav">
    <ul class="tabs-list">
      <li class="tabs">
        <button
          mat-raised-button
          class="trea-btn"
          [ngClass]="woListTab == 'All' ? 'act-option' : ''"
          (click)="
            changeWoList('All'); selectedWorkOrder = selectedIndex = null
          "
          type="button"
        >
          All
        </button>
      </li>
      <li class="tabs">
        <button
          mat-raised-button
          class="trea-btn"
          [ngClass]="woListTab == 'Internal' ? 'act-option' : ''"
          (click)="
            changeWoList('Internal'); selectedWorkOrder = selectedIndex = null
          "
          type="button"
        >
          Staff
        </button>
      </li>
      <li class="tabs">
        <button
          mat-raised-button
          class="trea-btn"
          [ngClass]="woListTab == 'Contractor' ? 'act-option' : ''"
          (click)="
            changeWoList('Contractor'); selectedWorkOrder = selectedIndex = null
          "
          type="button"
        >
          Contractor
        </button>
      </li>
      <li class="tabs">
        <button
          mat-raised-button
          class="trea-btn"
          [ngClass]="woListTab == 'Complete' ? 'act-option' : ''"
          (click)="
            changeWoList('Complete'); selectedWorkOrder = selectedIndex = null
          "
          type="button"
        >
          Complete
        </button>
      </li>
    </ul>
  </nav> -->

  <div class="trea-data-table table-responsive" *ngIf="WorkOrderList.length != 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="300">
            <div class="table-hdr">
              <div>
                <span>Date</span>
                <span
                  (click)="
                    columnType = 'N';
                    sortColumn = 'formatedDate';
                    sortOrder =
                      sortColumn === 'formatedDate'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'formatedDate' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-addon1"
                  [(ngModel)]="dateSearch"
                />
              </div>
            </div>
          </th>
          <th width="300">
            <div class="table-hdr bdr-left ">
              <div>
                <span>W/O No.</span>
                <span
                  (click)="
                    columnType = 'N';
                    sortColumn = 'work_order_no';
                    sortOrder =
                      sortColumn === 'work_order_no'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'work_order_no' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-addon1"
                  [(ngModel)]="woNoSearch"
                />
              </div>
            </div>
          </th>
          <th width="300">
            <div class="bdr-left table-hdr">
              <div>
                <span>W/O Type</span>
                <span
                  (click)="
                    columnType = 'A';
                    sortColumn = 'wo_type';
                    sortOrder =
                      sortColumn === 'wo_type'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'wo_type' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-addon1"
                  [(ngModel)]="woTypeSearch"
                />
              </div>
            </div>
          </th>
          <th width="300">
            <div class="bdr-left table-hdr">
              <div>
                <span>Assigned To</span>
                <span
                  (click)="
                    columnType = 'A';
                    sortColumn = 'assignedTo';
                    sortOrder =
                      sortColumn === 'assignedTo'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'assignedTo' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-addon1"
                  [(ngModel)]="assignToSearch"
                />
              </div>
            </div>
          </th>
          <th width="300">
            <div class="bdr-left table-hdr">
              <div>
                <span>Client</span>
                <span
                  (click)="
                    columnType = 'A';
                    sortColumn = 'company_name';
                    sortOrder =
                      sortColumn === 'company_name'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'company_name' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-addon1"
                  [(ngModel)]="clientSearch"
                />
              </div>
            </div>
          </th>
          <th width="300">
            <div class="bdr-left table-hdr">
              <div>
                <span>Quote No.</span>
                <span
                  (click)="
                    columnType = 'N';
                    sortColumn = 'project_estimate_no';
                    sortOrder =
                      sortColumn === 'project_estimate_no'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'project_estimate_no' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-addon1"
                  [(ngModel)]="quoteNoSearch"
                />
              </div>
            </div>
          </th>
          <th width="300">
            <div class="bdr-left table-hdr">
              <div>
                <span>Status</span>
                <span
                  (click)="
                    columnType = 'A';
                    sortColumn = 'status';
                    sortOrder =
                      sortColumn === 'status'
                        ? sortOrder === 'ASC'
                          ? 'DSC'
                          : 'ASC'
                        : 'ASC'
                  "
                >
                  <i
                    [ngClass]="
                      sortColumn == 'status' && sortOrder == 'ASC'
                        ? 'fa-rotate-90'
                        : 'fa-rotate-270'
                    "
                    class="fa fa-signal"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <div>
                <input
                  autocomplete="nope"
                  type="text"
                  class="form-control"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-addon1"
                  [(ngModel)]="statusSearch"
                />
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let indx = index;
            let wo;
            of: WorkOrderList
              | sortBy: sortColumn:sortOrder:columnType
              | searchfilter: statusSearch:'status'
              | searchfilter: woTypeSearch:'wo_type'
              | searchfilter: assignToSearch:'assignedTo'
              | searchfilter: dateSearch:'formatedDate'
              | searchfilter: clientSearch:'company_name'
              | searchfilter: woNoSearch:'work_order_no'
              | searchfilter: quoteNoSearch:'project_estimate_no'
              | searchfilter
                : searchTxt
                : 'status,wo_type,assignedTo,formatedDate,company_name,work_order_no,project_estimate_no'
              | listLengthfilter
              | paginate: paginationKey
          "
          (click)="getSelectedWorkOrder(wo, indx)"
          [ngClass]="selectedIndex == indx ? 'sel-row-highlight' : ''"
        >
          <td>{{ wo.formatedDate }}</td>
          <td>{{ wo.work_order_no }}</td>
          <td>{{ wo.wo_type }}</td>
          <td>{{ wo.assignedTo }}</td>
          <td>{{ wo.company_name }}</td>
          <td>
            {{ wo.project_estimate_no == 0 ? "-" : wo.project_estimate_no }}
          </td>
          <td>
            {{ wo.status
            }}<span class="dn">{{
              indx == 0 ? updateCount(wo.count) : ""
            }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="treaPagination"
    *ngIf="WorkOrderList.length != 0 && constant.ITEM_COUNT != 0"
  >
    <div class="pull-right">
      <span>
        {{ 1 + (paginationKey.currentPage - 1) * paginationKey.itemsPerPage }} -
        {{
          paginationKey.itemsPerPage <= listCount &&
          paginationKey.itemsPerPage +
            (paginationKey.currentPage - 1) * paginationKey.itemsPerPage <=
            listCount
            ? paginationKey.itemsPerPage +
              (paginationKey.currentPage - 1) * paginationKey.itemsPerPage
            : listCount
        }}</span
      ><span> of {{ listCount }} items</span>
    </div>
    <div class="pull-right">
      <select
        [(ngModel)]="paginationKey.itemsPerPage"
        (change)="util.changeItemPerPage()"
      >
        <option
          *ngFor="let pageNo of constant.PAGINATION_ITEMS"
          [ngValue]="pageNo"
        >
          {{ pageNo }}
        </option>
      </select>
      <span> items per page</span>
    </div>
    <div class="pull-right">
      <pagination-controls
        (pageChange)="changePage($event)"
        directionLinks="true"
        autoHide="false"
        previousLabel="Pre"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="woMark" class="container-fluid" *ngIf="selectedWorkOrder">
    <div class="selSection">
      <div class="clearfix"></div>
      <div class="quotationDetails">
        <div class="selPart">
          <span
            >Work Order {{ selectedWorkOrder.work_order_no }} ({{
              selectedWorkOrder.wo_status
                ? selectedWorkOrder.wo_status.status
                : "N/A"
            }})</span
          >
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Date</div>
              </div>
              <div class="col-sm-6">
                <div class="info-col">
                  {{ util.getFormatedDate(selectedWorkOrder.work_order_date) }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Generated by</div>
              </div>
              <div class="col-sm-6">
                <div class="info-col">
                  {{
                    selectedWorkOrder.wo_genrated_by
                      ? selectedWorkOrder.wo_genrated_by.first_name
                      : "N/A"
                  }}
                </div>
              </div>
            </div>
            <div class="row" *ngIf="selectedWorkOrder.quote_number">
              <div class="col-sm-6">
                <div class="label-col">Quotation</div>
              </div>
              <div class="col-sm-6">
                <div class="info-col">
                  {{
                    selectedWorkOrder.quote_number
                      ? selectedWorkOrder.quote_number.project_estimate_no
                      : ""
                  }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Assigned to</div>
              </div>
              <div class="col-sm-6">
                <!-- <div class="info-col">
                  {{
                    selectedWorkOrder.assign
                      ? selectedWorkOrder.assign.status
                      : "N/A"
                  }}
                </div> -->
                <div class="info-col">
                    {{
                      selectedWorkOrder.assignedTo
                        ? selectedWorkOrder.assignedTo
                        : "N/A"
                    }}
                  </div>
              </div>
            </div>
            <div class="row" *ngIf="selectedWorkOrder && selectedWorkOrder.approve_note">
                <div class="col-sm-6">
                  <div class="label-col">Note</div>
                </div>
                <div class="col-sm-6">
                  <div class="info-col">
                    {{
                      selectedWorkOrder.approve_note
                        ? selectedWorkOrder.approve_note
                        : "N/A"
                    }}
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Client</div>
              </div>
              <div class="col-sm-6">
                <div class="info-col">
                  {{
                    selectedWorkOrder.client_name
                      ? selectedWorkOrder.client_name.company_name
                        ? selectedWorkOrder.client_name.company_name
                        : selectedWorkOrder.client_name.first_name +
                          " " +
                          selectedWorkOrder.client_name.last_name
                      : selectedWorkOrder.work_order_type == 1
                      ? "Internal Work"
                      : "N/A"
                  }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Work Location</div>
              </div>
              <div class="col-sm-6">
                <!-- <div class="info-col">{{selectedWorkOrder.work_location ? selectedWorkOrder.work_location.location_name : 'N/A'}}</div> -->

                <div class="info-col" *ngIf="selectedWorkOrder.work_location">
                  <!-- <div *ngIf="selectedWorkOrder.work_location.latitude && selectedWorkOrder.work_location.latitude != '0' && selectedWorkOrder.work_location.longitude && selectedWorkOrder.work_location.longitude != '0';else manuallyAddedWorkLocation">
                                       {{selectedWorkOrder.work_location ? selectedWorkOrder.work_location.location_name : ''}} {{selectedWorkOrder.work_location ? selectedWorkOrder.work_location.address : '' }}
                                    </div> -->
                  <span *ngIf="selectedWorkOrder.work_order_type != '2'">
                    {{
                      selectedWorkOrder.work_location &&
                      selectedWorkOrder.work_location.location_name != "null" &&
                      selectedWorkOrder.work_location.location_name != null
                        ? selectedWorkOrder.work_location.location_name
                        : ""
                    }}
                    {{
                      selectedWorkOrder.work_location
                        ? selectedWorkOrder.work_location.address
                        : ""
                    }}
                  </span>
                  <span *ngIf="selectedWorkOrder.work_order_type == '2'">
                    {{
                      selectedWorkOrder.work_location &&
                      selectedWorkOrder.work_location.address != "null" &&
                      selectedWorkOrder.work_location.address != null
                        ? selectedWorkOrder.work_location.address + ", "
                        : ""
                    }}
                    {{
                      selectedWorkOrder.work_location
                        ? selectedWorkOrder.work_location.location_name
                        : ""
                    }}
                  </span>
                  <!-- <ng-template #manuallyAddedWorkLocation>
                                        {{selectedWorkOrder.work_location ? selectedWorkOrder.work_location.location_name + ',' : ''}} {{selectedWorkOrder.work_location && selectedWorkOrder.work_location.address ? selectedWorkOrder.work_location.address + ',' : '' }}
                                        {{selectedWorkOrder.work_location ? selectedWorkOrder.work_location.city + ',' : '' }}
                                        {{selectedWorkOrder.work_location ? selectedWorkOrder.work_location.province + ',' : '' }}
                                        {{selectedWorkOrder.work_location ? selectedWorkOrder.work_location.country + ',' : '' }}
                                        {{selectedWorkOrder.work_location ? selectedWorkOrder.work_location.postal_code : ''}}
                                    </ng-template> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="repairAssetInfo MB25"
        *ngIf="
          selectedWorkOrder.is_repairing_asset == '1' &&
          selectedWorkOrder.asset_detail &&
          selectedWorkOrder.maintenance_asset_detail
        "
      >
        <div class="row">
          <div class="col-sm-12">
            <div class="label-col MB20">
              <div class="text-center">Repair Asset Information</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Manufacturer</div>
              </div>
              <div class="col-sm-6">
                <div class="info-col">
                  {{
                    selectedWorkOrder.maintenance_asset_detail
                      ? selectedWorkOrder.maintenance_asset_detail.manufacturer
                          .manf_name
                      : ""
                  }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Item Definition</div>
              </div>
              <div class="col-sm-6">
                <div class="info-col">
                  {{
                    selectedWorkOrder.maintenance_asset_detail
                      ? selectedWorkOrder.maintenance_asset_detail
                          .manf_part_detail.short_name
                      : ""
                  }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Name</div>
              </div>
              <div class="col-sm-6">
                <!-- <div class="info-col">{{assetsDetails.manf_part_detail.full_name}}</div> -->
                <div class="info-col">
                  {{
                    selectedWorkOrder.asset_detail
                      ? selectedWorkOrder.asset_detail.short_tag
                      : ""
                  }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Serial No.</div>
              </div>
              <div class="col-sm-6">
                <div class="info-col">
                  {{
                    selectedWorkOrder.asset_detail
                      ? selectedWorkOrder.asset_detail.serial_no
                      : ""
                  }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="label-col">Details</div>
              </div>
              <div class="col-sm-6">
                <!-- <div class="form-group" *ngIf="!selectedWorkOrder.maintenance_request">
	                                <textarea id="" name="comment" style="height: 110px;" formControlName="asset_details" class="form-control"></textarea> -->
                <!-- <span class="error-msg" *ngIf="username.invalid && (username.dirty || username.touched || pageData.submitted)">
	                                <small *ngIf="username.errors.required">User Name is required.</small>
	                                <small *ngIf="username.errors.minlength">User Name must be at least 8 characters long.</small>
	                                </span> -->
                <!-- </div> -->
                <div
                  class="info-col"
                  *ngIf="selectedWorkOrder.maintenance_request"
                >
                  {{
                    selectedWorkOrder.maintenance_request
                      ? selectedWorkOrder.maintenance_request
                          .maintenance_details
                      : ""
                  }}
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="clearfix"></div>
      <div class="servicesDetails">
        <div class="serPart">
          <span>Services</span>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Service Type</th>
                <th
                  class="text-right"
                  *ngIf="
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                >
                  Cost
                </th>
                <th class="text-right">Quantity</th>
                <th
                  class="text-right"
                  *ngIf="
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                >
                  Amount
                </th>
                <th>Details</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="selectedWorkOrder.wo_services">
              <tr *ngFor="let service of selectedWorkOrder.wo_services">
                <td *ngIf="service.is_cr == 0">
                  <span *ngIf="service.service_definition_id != 0">{{
                    service.wo_service_definition
                      ? service.wo_service_definition.service_definition
                      : "N/A"
                  }}</span>
                  <span *ngIf="service.service_definition_id == 0">{{
                    service.ad_hoc_service
                  }}</span>
                </td>
                <td
                  class="text-right"
                  *ngIf="
                    service.is_cr == 0 &&
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                >
                  {{
                    service.cost | currency: util.getCurrency():"symbol-narrow"
                  }}
                </td>
                <td class="text-right" *ngIf="service.is_cr == 0">
                  {{ service.quantity }}
                </td>
                <td
                  class="text-right"
                  *ngIf="
                    service.is_cr == 0 &&
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                >
                  {{
                    service.total_amount
                      | currency: util.getCurrency():"symbol-narrow"
                  }}
                </td>
                <td *ngIf="service.is_cr == 0">
                  {{ service.details ? service.details : "N/A" }}
                </td>
                <td *ngIf="service.is_cr == 0"></td>
              </tr>
              <!-- <tr *ngIf="service.is_cr==1"> -->
              <tr *ngFor="let service of selectedWorkOrder.wo_services">
                <td *ngIf="service.is_cr == 1" class="red-text">
                  <span *ngIf="service.service_definition_id != 0">{{
                    service.service_defination
                      ? service.service_defination.service_definition
                      : "N/A"
                  }}</span>
                  <span *ngIf="service.service_definition_id == 0">{{
                    service.ad_hoc_service
                  }}</span>
                </td>
                <td
                  class="text-right red-text"
                  *ngIf="
                    service.is_cr == 1 &&
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                >
                  {{
                    service.cost | currency: util.getCurrency():"symbol-narrow"
                  }}
                </td>
                <td *ngIf="service.is_cr == 1" class="red-text text-right">
                  {{ service.quantity }}
                </td>
                <td
                  class="text-right red-text"
                  *ngIf="
                    service.is_cr == 1 &&
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                >
                  {{
                    service.total_amount
                      | currency: util.getCurrency():"symbol-narrow"
                  }}
                </td>
                <td *ngIf="service.is_cr == 1" class="red-text">
                  {{ service.details ? service.details : "N/A" }}
                </td>
                <td *ngIf="service.is_cr == 1" class="red-text">
                  {{ service.is_approved == 2 ? "(Rejected)" : "" }}
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="text-center tfooter"
            *ngIf="
              selectedWorkOrder.assign &&
              selectedWorkOrder.assign.status == 'Contractor'
            "
          >
            Total Service Cost:
            {{
              selectedWorkOrder.cost_of_services
                | currency: util.getCurrency():"symbol-narrow"
            }}
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="clearfix"></div>
      <!-- servicesDetails -->
      <div
        class="paymentsDetails"
        *ngIf="selectedWorkOrder.wo_assets.length > 0"
      >
        <div class="serPart">
          <span>Assets</span>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Asset</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                <th>End Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let asset of selectedWorkOrder.wo_assets">
                <td>
                  {{
                    asset.asset_detail ? asset.asset_detail.short_tag : "N/A"
                  }}
                </td>
                <td>{{ util.getFormatedDate(asset.start_date) }}</td>
                <td>{{ asset.start_time }} {{ asset.start_time_format }}</td>
                <td>{{ util.getFormatedDate(asset.end_date) }}</td>
                <td>{{ asset.end_time }} {{ asset.end_time_format }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="clearfix"></div>
      <div
        class="servicesDetails"
        *ngIf="selectedWorkOrder.wo_material_products.length > 0"
      >
        <div class="serPart">
          <span>Product/Materials</span>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Product/Material</th>
                <th
                  class="text-right"
                  *ngIf="
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                >
                  Cost
                </th>
                <th class="text-right">Quantity</th>
                <th
                  class="text-right"
                  *ngIf="
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                >
                  Amount
                </th>
                <th>Location</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let pro_mat of selectedWorkOrder.wo_material_products"
              >
                <td *ngIf="pro_mat.is_cr == 0">
                  {{ pro_mat.manf_part ? pro_mat.manf_part.short_name : "N/A" }}
                </td>
                <td
                  class="text-right"
                  *ngIf="
                    pro_mat.is_cr == 0 &&
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                >
                  {{
                    pro_mat.cost | currency: util.getCurrency():"symbol-narrow"
                  }}
                </td>
                <td class="text-right" *ngIf="pro_mat.is_cr == 0">
                  {{ pro_mat.quantity }} <span class="">&nbsp;{{pro_mat.manf_part ? pro_mat.manf_part.uom_name.uom_symbol : ''}}</span>
                </td>
                <td
                  *ngIf="
                    pro_mat.is_cr == 0 &&
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                >
                  {{
                    pro_mat.total_amount
                      | currency: util.getCurrency():"symbol-narrow"
                  }}
                </td>
                <td *ngIf="pro_mat.is_cr == 0">
                  <!-- <div class="info-col" *ngIf="pro_mat.location_type == '1'">
										<div>Supplier : {{pro_mat.pm_supplier_location.supplier_name}}</div>
									</div>
									<div class="info-col" *ngIf="pro_mat.location_type == '2'">
										<div>Work</div>
									</div> -->
                  <div class="info-col" *ngIf="pro_mat.location_type == '3'">
                    <!-- <div>Internal</div> -->
                    <li
                      *ngFor="
                        let locInd = index;
                        let loc;
                        of: pro_mat.locations
                      "
                    >
                      <div style="margin: -25px 0px 10px 0px;">
                        <div>
                          <span class="locNum">&nbsp;&nbsp;</span>&nbsp;{{
                            loc.pm_location ? loc.pm_location.location_name : ""
                          }}
                        </div>
                        <div>
                          <span class="locNum">&nbsp;&nbsp;</span>&nbsp;{{
                            loc.pm_location_tag
                              ? loc.pm_location_tag.location_tag
                              : ""
                          }}
                        </div>
                        <div>
                          <span class="locNum">&nbsp;&nbsp;</span>&nbsp;Pick up
                          quantity - {{ loc.quantity }}
                        </div>
                        <!--  {{item.uom}} -->
                      </div>
                    </li>
                    <!-- <div>{{pro_mat.pm_location.location_name}}</div>
										<div>{{pro_mat.pm_location_tag.location_tag}}</div> -->
                  </div>
                </td>
                <td *ngIf="pro_mat.is_cr == 0"></td>
              </tr>
              <tr
                *ngFor="let pro_mat of selectedWorkOrder.wo_material_products"
              >
                <td *ngIf="pro_mat.is_cr == 1" class="red-text">
                  {{ pro_mat.manf_part ? pro_mat.manf_part.short_name : "N/A" }}
                </td>
                <td
                  *ngIf="
                    pro_mat.is_cr == 1 &&
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                  class="red-text"
                >
                  {{
                    pro_mat.cost | currency: util.getCurrency():"symbol-narrow"
                  }}
                </td>
                <td *ngIf="pro_mat.is_cr == 1" class="red-text text-right">
                  {{ pro_mat.quantity }} <span class="">&nbsp;{{pro_mat.manf_part ? pro_mat.manf_part.uom_name.uom_symbol : ''}}</span>
                </td>
                <td
                  *ngIf="
                    pro_mat.is_cr == 1 &&
                    selectedWorkOrder.assign &&
                    selectedWorkOrder.assign.status == 'Contractor'
                  "
                  class="red-text text"
                >
                  {{
                    pro_mat.total_amount
                      | currency: util.getCurrency():"symbol-narrow"
                  }}
                </td>
                <td *ngIf="pro_mat.is_cr == 1" class="red-text">
                  <!-- <div class="info-col" *ngIf="pro_mat.cr_location_type == '1'">
										<div>Supplier : {{pro_mat.pm_supplier_location.supplier_name}}</div>
									</div>
									<div class="info-col" *ngIf="pro_mat.cr_location_type == '2'">
										<div>Work</div>
									</div> -->
                  <div class="info-col" *ngIf="pro_mat.cr_location_type == '3'">
                    <!-- <div>Internal</div>
										<div>{{pro_mat.pm_location.location_name}}</div>
										<div>{{pro_mat.pm_location_tag.location_tag}}</div> -->
                    <li
                      *ngFor="
                        let locInd = index;
                        let loc;
                        of: pro_mat.locations
                      "
                    >
                      <div style="margin: -25px 0px 10px 0px;">
                        <div>
                          <span class="locNum">&nbsp;&nbsp;</span>&nbsp;{{
                            loc.pm_location ? loc.pm_location.location_name : ""
                          }}
                        </div>
                        <div>
                          <span class="locNum">&nbsp;&nbsp;</span>&nbsp;{{
                            loc.pm_location_tag
                              ? loc.pm_location_tag.location_tag
                              : ""
                          }}
                        </div>
                        <div>
                          <span class="locNum">&nbsp;&nbsp;</span>&nbsp;Pick up
                          quantity - {{ loc.quantity }}
                        </div>
                        <!--  {{item.uom}} -->
                      </div>
                    </li>
                  </div>
                </td>
                <td *ngIf="pro_mat.is_cr == 1" class="red-text">
                  {{ pro_mat.is_approved == 2 ? "(Rejected)" : "" }}
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="text-center tfooter"
            *ngIf="
              selectedWorkOrder.assign &&
              selectedWorkOrder.assign.status == 'Contractor'
            "
          >
            Total Product/Material Cost:
            {{
              selectedWorkOrder.cost_of_product_material
                | currency: util.getCurrency():"symbol-narrow"
            }}
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="scheduleDetails">
        <div class="serPart">
          <span>Schedule</span>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                <th>End Time</th>
                <!-- <th>Repeat</th>
								<th>Repeat Every</th>
								<th>Repeat On</th> -->
              </tr>
            </thead>
            <tbody *ngIf="selectedWorkOrder.wo_schedule">
              <tr>
                <td>
                  {{
                    util.getFormatedDate(
                      selectedWorkOrder.wo_schedule.start_date
                    )
                  }}
                </td>
                <td>
                  {{ selectedWorkOrder.wo_schedule.start_time.substring(0, 5) }}
                  {{ selectedWorkOrder.wo_schedule.start_time_format }}
                </td>
                <td>
                  {{
                    util.getFormatedDate(selectedWorkOrder.wo_schedule.end_date)
                  }}
                </td>
                <td>
                  {{ selectedWorkOrder.wo_schedule.end_time.substring(0, 5) }}
                  {{ selectedWorkOrder.wo_schedule.end_time_format }}
                </td>
                <!-- <td>{{selectedWorkOrder.wo_schedule.wo_schedule_type.status}}</td>
								<td>{{selectedWorkOrder.wo_schedule.schedule_days && selectedWorkOrder.wo_schedule.schedule_type == 2 ? selectedWorkOrder.wo_schedule.schedule_days : 'N/A'}}</td>
								<td>{{selectedWorkOrder.wo_schedule.wo_schedule_repeat ? selectedWorkOrder.wo_schedule.wo_schedule_repeat.status : 'N/A'}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-sm-12" *ngIf="selectedWorkOrder.assign_to == 1">
          <div class="paymentsDetails">
            <div class="serPart">
              <span>Team</span>
            </div>
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Members</th>
                    <th>Start Date</th>
                    <th>Start Time</th>
                    <th>End Date</th>
                    <th>End Time</th>
                  </tr>
                </thead>
                <tbody *ngIf="selectedWorkOrder.wo_teams">
                  <tr *ngFor="let team of selectedWorkOrder.wo_teams">
                    <td>
                      {{ team.wo_team_member.first_name }}
                      {{ team.wo_team_member.last_name }}
                      <span *ngIf="team.is_team_leader == 1">(TL)</span>
                    </td>
                    <td>{{ util.getFormatedDate(team.start_date) }}</td>
                    <td>
                      {{ team.start_time.substring(0, 5) }}
                      {{ team.start_time_format }}
                    </td>
                    <td>{{ util.getFormatedDate(team.end_date) }}</td>
                    <td>
                      {{ team.end_time.substring(0, 5) }}
                      {{ team.end_time_format }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6" *ngIf="selectedWorkOrder.assign_to == 2">
          <div class="paymentsDetails">
            <div class="serPart">
              <span>Payment Terms</span>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th class="text-right">Amount Due</th>
                  </tr>
                </thead>
                <tbody *ngIf="selectedWorkOrder.wo_payment_terms">
                  <tr
                    *ngFor="let payment of selectedWorkOrder.wo_payment_terms"
                  >
                    <td>{{ util.getFormatedDate(payment.date) }}</td>
                    <td class="text-right">
                      {{
                        payment.amount_due
                          | currency: util.getCurrency():"symbol-narrow"
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6">
          <div class="PaymentDetails ">
            <!-- <div class="row">
							<div class="col-sm-6">
								<div class="row">
										<div class="col-sm-6">
											<div class="payLabel">Payment Method</div>
										</div>
										<div class="col-sm-6">
											<div class="">Credit Card</div>
										</div>
								</div>
							</div>
						</div> -->
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <div class="row">
        <div
          class="col-sm-12"
          *ngIf="selectedWorkOrder.unavailable_resources.length > 0"
        >
          <div class="unavailableResource">
            <div class="serPart">
              <span>Unavailable Resources</span>
            </div>
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>Start Time</th>
                    <th>End Date</th>
                    <th>End Time</th>
                  </tr>
                </thead>
                <tbody *ngIf="selectedWorkOrder.unavailable_resources">
                  <tr
                    *ngFor="
                      let resource of selectedWorkOrder.unavailable_resources
                    "
                  >
                    <td>{{ resource.resource_name }}</td>
                    <td>{{ resource.resource_type }}</td>
                    <td>{{ util.getFormatedDate(resource.start_date) }}</td>
                    <td>
                      {{ resource.start_time.substring(0, 5) }}
                      {{ resource.start_time_format }}
                    </td>
                    <td>{{ util.getFormatedDate(resource.end_date) }}</td>
                    <td>
                      {{ resource.end_time.substring(0, 5) }}
                      {{ resource.end_time_format }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="errMsgCon" *ngIf="isError">
        <small>{{ errMsg }}</small>
      </div>
      <div class="clearfix"></div>
      <div class="button-row clearfix">
        <button *ngIf="util.getRole() == 2"
            class="trea-btn"
            mat-raised-button
            (click)="preview(selectedWorkOrder.preview)"
        >
            Preview
        </button>
        <button class="trea-btn " mat-raised-button (click)="downloadPDF(selectedWorkOrder.pdfLink)">
            Download as PDF
        </button>
      </div>
      <div class="button-row" *ngIf="selectedWorkOrder.status != 6">
        <!-- currentDate < util.getFormatedDate(selectedWorkOrder.wo_schedule.end_date) &&  -->
        <button
          *ngIf="
            selectedWorkOrder.status != 4 &&
            (util.getRole() == 2 || permissionsSet.editWorkOrders)
          "
          mat-raised-button
          class="trea-btn"
          type="button"
          (click)="editWO(selectedWorkOrder)"
        >
          Edit
        </button>

        <!-- <button
          *ngIf="
            currentDate >=
              util.getFormatedDate(selectedWorkOrder.wo_schedule.end_date) &&
            selectedWorkOrder.status != 4 &&
            (util.getRole() == 2 || permissionsSet.editWorkOrders)
          "
          mat-raised-button
          class="trea-btn"
          type="button"
          (click)="completeWO(selectedWorkOrder)"
        >
          Complete Work Order
        </button> -->

        <button
          *ngIf="
            selectedWorkOrder.status != 5 &&
            selectedWorkOrder.status != 4 &&
            selectedWorkOrder.status != 6 &&
            (util.getRole() == 2 || permissionsSet.editWorkOrders)
          "
          mat-raised-button
          class="trea-btn"
          type="button"
          (click)="startWO(selectedWorkOrder)"
        >
          Start Work Order
        </button>

        <button
          *ngIf="
            selectedWorkOrder.status == 5 &&
            selectedWorkOrder.status != 4 &&
            (util.getRole() == 2 || permissionsSet.editWorkOrders)
          "
          mat-raised-button
          class="trea-btn"
          type="button"
          (click)="completeWO(selectedWorkOrder)"
        >
          Complete Work Order
        </button>

        <button
          *ngIf="
            selectedWorkOrder.status == 1 &&
            (util.getRole() == 2 || permissionsSet.editWorkOrders)
          "
          mat-raised-button
          class="trea-btn"
          type="button"
          (click)="cancelWO(selectedWorkOrder)"
        >
          Cancel Work Order
        </button>
        <button
          *ngIf="
            selectedWorkOrder.status == 1 &&
            (util.getRole() == 2 || permissionsSet.editWorkOrders)
          "
          mat-raised-button
          class="trea-btn"
          type="button"
          (click)="deleteWO(selectedWorkOrder)"
        >
          Delete Work Order
        </button>
      </div>
    </div>
  </div>
</div>
