<div class="dialog schedule-dialog" *ngIf="dialog.action == 'CONFIRMATION_WITH_WARNING'">
    <span class="close-icon" (click)="closeDialog()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <div class="dialog-hdr">
        <div>{{dialog.header}}</div>
    </div>
    <div *ngIf="!isSuccess">
        <div class="dialog-txt">
            <div class="text-left">{{dialog.message}}</div>
            <br *ngIf="woList.length > 0">
            <div *ngIf="woList.length > 0" class="text-left subheader">Work Orders</div>
            <div class="text-left" *ngFor="let wo of woList">
                <a href="javascript:void(0)" class="email" (click)="closeDialog()" [routerLink]="['/workflow/wo/csa/work-order-list/', wo.work_order_id]">#{{wo.work_order_no}} ({{util.getFormatedDate(wo.start_date)}})</a>
            </div>
            <br *ngIf="personList.length > 0 || assetList.length > 0">
            <div *ngIf="personList.length > 0 || assetList.length > 0" class="text-left subheader">{{dialog.data.type == 'Asset' ? 'Persons' : 'Assets' }}</div>
            <div class="text-left" *ngIf="dialog.data.type == 'Asset'">
                <div *ngFor="let item of personList">
                    <a href="javascript:void(0)" class="email">#{{item.first_name}} {{item.last_name}}</a>
                </div>
            </div>

            <div class="text-left" *ngIf="dialog.data.type == 'Person'">
                <div *ngFor="let item of assetList">
                    <a href="javascript:void(0)" class="email">#{{item.short_tag}}</a>
                </div>
            </div>
            <br/>
            <div class="text-left" *ngIf="woList.length == 4">
                <span class="cursorPtr" (click)="showAll()">+{{dialog.data.assignedWO.length - 4}} more</span>
            </div>
            <div class="text-left">
                Do you want to mark unavailable this resource ?
            </div>
        </div>

        <div class="errMsgCon" *ngIf="isError">
            <small>{{errMsg}}</small>
        </div>

        <!-- <div class="button-row" *ngIf="woList.length > 0 && (assetList.length > 0 || personList.length > 0)">
          <button id="remove-btn" mat-raised-button class="trea-btn" (click)="continueMark('0')">{{dialog.data.type}} Only</button>
          <button mat-raised-button class="trea-btn" (click)="continueMark('1')">Person and Assets</button>
          <button mat-raised-button class="trea-btn" (click)="closeDialog()">Cancel</button>
        </div>

        <div class="button-row" *ngIf="(woList.length == 0 && personList.length == 0 && assetList.length > 0) || (woList.length > 0 && personList.length == 0 && assetList.length == 0) || (woList.length == 0 && personList.length > 0 && assetList.length == 0)">
          <button id="remove-btn" mat-raised-button class="trea-btn" (click)="continueMark('1')">Mark Unavailable</button>
           <button mat-raised-button class="trea-btn" (click)="closeDialog()">Cancel</button>
        </div> -->

        <div class="button-row" >
            <button id="remove-btn" mat-raised-button class="trea-btn" (click)="continueMark('0')">{{dialog.data.type}} Only</button>
            <button mat-raised-button class="trea-btn" (click)="continueMark('1')">Person and Assets</button>
            <button mat-raised-button class="trea-btn" (click)="closeDialog()">Cancel</button>
          </div>



    </div>
    <div *ngIf="isSuccess">
        <div class="dialog-txt">{{successMsg}}.</div>
        <div class="button-row">
            <button id="" mat-raised-button class="trea-btn" (click)="closeDialog()">Done</button>
        </div>
    </div>
</div>
<div class="dialog schedule-dialog" *ngIf="dialog.action == 'CONFIRMATION_WITH_WARNING_2'">
    <span class="close-icon" (click)="closeDialog()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <div class="dialog-hdr">
        <div>{{dialog.header}}</div>
    </div>
    <div *ngIf="!isSuccess">
        <div class="dialog-txt">
            <div class="text-left">{{dialog.message}}</div>
            <!-- <div  class="text-left subheader">Schedules</div> -->
            <!-- <div class="text-left" *ngFor="let wo of woList">
                <a href="javascript:void(0)" class="email" (click)="closeDialog()" [routerLink]="['workflow/schedule/csa/schedule-list/0', wo.work_order_id]">#{{wo.work_order_no}} ({{util.getFormatedDate(wo.start_date)}})</a>
            </div> -->
            <br *ngIf="personList.length > 0 || assetList.length > 0">
            <div *ngIf="personList.length > 0 || assetList.length > 0" class="text-left subheader">{{dialog.data.type == 'Asset' ? 'Persons' : 'Assets' }}</div>
            <div class="text-left" *ngIf="dialog.data.type == 'Asset'">
                <div *ngFor="let item of personList">
                    <a href="javascript:void(0)" class="email">#{{item.first_name}} {{item.last_name}}</a>
                </div>
            </div>

            <div class="text-left" *ngIf="dialog.data.type == 'Person'">
                <div *ngFor="let item of assetList">
                    <a href="javascript:void(0)" class="email">#{{item.short_tag}}</a>
                </div>
            </div>
            <br/>
            <!-- <div class="text-left">
                <span class="cursorPtr" (click)="showAll()">+{{dialog.data.assignedWO.length - 4}} more</span>
            </div> -->
            <div class="text-left">
                Do you want to delete this resource ?
            </div>
        </div>

        <div class="errMsgCon" *ngIf="isError">
            <small>{{errMsg}}</small>
        </div>

        <!-- <div class="button-row" *ngIf="woList.length > 0 && (assetList.length > 0 || personList.length > 0)">
          <button id="remove-btn" mat-raised-button class="trea-btn" (click)="continueMark('0')">{{dialog.data.type}} Only</button>
          <button mat-raised-button class="trea-btn" (click)="continueMark('1')">Person and Assets</button>
          <button mat-raised-button class="trea-btn" (click)="closeDialog()">Cancel</button>
        </div>

        <div class="button-row" *ngIf="(woList.length == 0 && personList.length == 0 && assetList.length > 0) || (woList.length > 0 && personList.length == 0 && assetList.length == 0) || (woList.length == 0 && personList.length > 0 && assetList.length == 0)">
          <button id="remove-btn" mat-raised-button class="trea-btn" (click)="continueMark('1')">Mark Unavailable</button>
           <button mat-raised-button class="trea-btn" (click)="closeDialog()">Cancel</button>
        </div> -->

        <div class="button-row" >
            <button id="remove-btn" mat-raised-button class="trea-btn" (click)="deleteSchedule('0')">{{dialog.data.type}} Only</button>
            <button mat-raised-button class="trea-btn" (click)="deleteSchedule('1')">Person and Assets</button>
            <button mat-raised-button class="trea-btn" (click)="closeDialog()">Cancel</button>
          </div>



    </div>
    <div *ngIf="isSuccess">
        <div class="dialog-txt">{{successMsg}}.</div>
        <div class="button-row">
            <button id="" mat-raised-button class="trea-btn" (click)="closeDialog()">Done</button>
        </div>
    </div>
</div>
