<div class="newrolereviewWrap">
	<div class="role-section">
		<h3 class="pageTitle">New Role information Review</h3>
		<div class="clearfix"></div>
		<div class="newroleWrap">
			<div class="addUserFormBody">
				<div class="newroleDetails">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-4">
									<div class="label-col">Role Name</div>
								</div>
								<div class="col-xs-8">
									<div class="info-col">{{roleObj.roleName}}</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<div class="label-col">Description</div>
								</div>
								<div class="col-xs-8">
									<div class="info-col">{{roleObj.roleDesc}}</div>
								</div>
							</div>
							<div class="subheaderWrap">
								<div class="row">
									<div class="col-xs-8">
									</div>
									<div class="col-xs-4">
										<div class="label-col">
											<div class="text-left">Access</div>
										</div>
									</div>
								</div>
							</div>
							<div class="dashboardDetails" *ngFor="let menu of menuList.menus">
								<div class="row" *ngIf="menu.menu_slug == 'dispatch'">
									<div class="col-xs-12">
										<hr class="hrMar">
									</div>
									<div class="col-xs-8">
										<div class="label-col">
											<div class="text-left">{{menu.menu}}</div>
										</div>
									</div>
									<div class="col-xs-4">
										<i *ngIf="menu.actionAccess" class="fa fa-check" aria-hidden="true"></i>
									</div>
								</div>
								<div class="row" *ngIf="menu.menu_slug != 'dispatch'">
									<div class="col-xs-12">
										<hr class="hrMar">
									</div>
									<div class="col-xs-8">
										<div class="label-col">
											<div class="text-left">{{menu.menu}}</div>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="info-col">{{menu.accessType}}</div>
									</div>
								</div>
								<div class="accessRow" *ngFor="let subMenu of menu.second_level">
									<div class="row">
										<div class="col-xs-8">
											<div class="info-col">{{subMenu.menu}}</div>
										</div>
										<div class="col-xs-4">
											<div class="info-col">{{subMenu.accessType}}</div>
										</div>
									</div>
									<div class="row" *ngFor="let actionMenu of subMenu.third_level">
										<div class="col-xs-8">
											<div class="info-col actionName">{{actionMenu.menu}}</div>
										</div>
										<div class="col-xs-4">
											<i *ngIf="actionMenu.actionAccess" class="fa fa-check" aria-hidden="true"></i>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="row">
								<div class="col-xs-12">
									<hr class="hrMar">
								</div>
								<div class="col-xs-8">
									<div class="label-col">Mobile APP Access</div>
								</div>
								<div class="col-xs-4">
									<i *ngIf="mobileAccess.actionAccess" class="fa fa-check" aria-hidden="true"></i>
								</div>
							</div> -->
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
        <div class="errMsgCon" *ngIf="isError">
          <small>{{errMsg}}</small>
        </div>
				<div class="button-row">
					<button mat-raised-button id="submitRole" class="trea-btn" type="button" (click)="submitRole()">Submit</button>
					<button mat-raised-button class="trea-btn" (click)="editRole()">Edit</button>
					<button mat-raised-button class="trea-btn" (click)="cancelRole()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>