<div class="dialog" *ngIf="action == 'csvUpload'">
    <span class="close-icon" (click)="closeDialog()">
        <img src="assets/icon/close_icon.png" />
    </span>
    <div class="clearfix"></div>
    <div class="dialog-hdr dialog-txt">
        <div>CSV Upload</div>
    </div>
    <div class="action-btn form-group" *ngIf="!uploadResult">
        <div class="add-client pull-left">
            <div class="pull-left fileUpload client-btn" *ngIf="isUploadBtn">
                <span class="client-btn" id="csv-up-btn" (click)="addFromCSV()">CSV Upload</span>
                <input autocomplete="nope" type="file" id="btnUpload" name="import_file" value="Upload" (change)="fileChange($event)" class="upload client-btn" />
            </div>
            <div class="pull-left">
                <i popover="Upload the csv file filled with valid data." popoverPlacement="right" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true" class="fa fa-question-circle" aria-hidden="true" required></i>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="add-client pull-right">
            <!-- <a mat-raised-button class="client-btn" href="{{file.downloadBaseURL+'bulk_emp_upload.csv'}}">Download Template</a> -->
            <a mat-raised-button class="client-btn" href="javascript:void(0)">Download Template</a>
        </div>

        <div class="clearfix"></div>
    </div>
    <!-- <div class="upload-result" *ngIf="uploadResult">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Emp Id</th>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let indx=index ; let emp of empList.successData">
                    <td>{{emp.employee_id}}</td>
                    <td>{{emp.first_name}} {{emp.last_name}}</td>
                    <td class="succ">Success</td>
                </tr>
                <tr *ngFor="let indx=index ; let emp of empList.invalidData">
                    <td>{{emp.employee_id}}</td>
                    <td>{{emp.first_name}} {{emp.last_name}}</td>
                    <td class="fail">
                        <i popover="{{emp.validationError}}" popoverPlacement="left" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true" class="fa fa-question-circle" aria-hidden="true" required></i>
                        <span class="fail">Fail</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
    <div class="errMsgCon" *ngIf="isError">
        <small>{{errMsg}}</small>
    </div>
</div>





<div class="dialog width100" *ngIf="action == 'resetPassword'">
    <span class="close-icon" (click)="closeDialog()">
        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
        <img src="assets/icon/close_icon.png" />
    </span>
    <div class="dialog-hdr">
        <div>{{dataObj.reset_heading ? dataObj.reset_heading: 'Reset Password'}}</div>
    </div>

    <div class="dialog-txt">{{dataObj.reset_message ? dataObj.reset_message : "Reset the employee's password?"}}</div>
    <div class="button-row">
        <div class=" col-xs-6 left pull-left">
            <div class="add-client pull-right">
                <button id="reset-pass-btn" mat-raised-button class="client-btn yes" (click)="resetPassword()">Yes</button>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class=" col-xs-6right pull-left">
            <div class="add-client pull-left">
                <button mat-raised-button class="client-btn cancel" (click)="closeDialog()">Cancel</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<div class="dialog" *ngIf="action == 'resetPassSuccess'">
    <span class="close-icon" (click)="closeDialog()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <div class="dialog-hdr">
        <div>&nbsp;</div>
    </div>
    <div>

        <div class="dialog-txt">{{dataObj.sucess_msg ? dataObj.sucess_msg :  'A password reset message has been sent to the user.'}}</div>
        <div class="button-row">
            <button id="" mat-raised-button class="treaBtn yes" (click)="closeDialog()">Done</button>
        </div>
    </div>
</div>


<div class="dialog" *ngIf="action == 'resetPassError'">
    <span class="close-icon" (click)="closeDialog()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <div class="dialog-hdr">
        <div>&nbsp;</div>
    </div>
    <div>
        <div class="dialog-txt">{{errorMsg}}</div>

        <div class="button-row">
            <button id="" mat-raised-button class="treaBtn yes" (click)="closeDialog()">Done</button>
        </div>
    </div>
</div>

